<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>lingvo.png</string>
			<key>Service Name</key>
			<string>Look Up in Lingvo Dictionary</string>
			<key>Title</key>
			<string>Lingvo Dictionary</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string></string>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>http://www.abbyy.com/dictionary_for_mac/</string>
			<key>Name</key>
			<string>ABBYY Lingvo Dictionary</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Aleksey Nikolaev</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Look up the selected text in ABBYY Lingvo Dictionary.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.lingvo-dictionary</string>
	<key>Extension Name</key>
	<string>Lingvo Dictionary</string>
	<key>Required OS Version</key>
	<string>10.7</string>
</dict>
</plist>
