<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	V/tS4VLDh+QW0dk/LK934C1RXszhFjv0xYqexxWX+vEDxCGwdfFvOpKtTIjNlkm6BBTA
	HbUg+/uUz4jZqrmlwHQvY/PqQ0ke9NU1XdtPId53kSJlgv0dMhdbL8eM1RxAEaa2uSEh
	smmqsclG2mE2Cpu6S6rxlIl6Zywmu3yI+M0=
	</data>
</dict>
</plist>
