<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	eb7B4DMRR5sla5N1XYAsxZvhAYHELTma7a1DdXq2LKXEe73WBnv5nX+Xz61UMLdfBPZ+
	jpK1U+Xu0pvfBrzoP3lwSF7HJpMo8p1vOWLBYH7zkqMgoJvfjM7gcmXdUH1rcpMeRfup
	RoDPv3z6/Yhcty8QmsyNhRp3PbWRJRmkuoY=
	</data>
</dict>
</plist>
