<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CcSzYcrFpZKrLEtNTAr8YriwqUe+ZcW6w0vzU69k0WcdOATopeaIc5/muhuuDKLu77oN
	atJX8Zoa36XVR7G+gBntsxn1eJVuFve3eOgdM61GQQgN8+VbFz3TfRwFKrwU6GAvG6+6
	jzeiY9iOJA/3RSh7hOZRlzM9LhlitPpRQI0=
	</data>
</dict>
</plist>
