<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	qL3qgEVm2OM/elWt9PjWURo9LZqYeN3sG7aK6Eo8dWkADlTrGqina5iqUz8M+HIv2Bfo
	fcZxsw9vEO2CXF9xdsJUzEB1Tu4lx37g/UWLISDiedavJCgAkbjPKq72btLCvMKpq7JO
	wCICxeyXzFqS+QMBl8t1AFEy8YEzfG8pPag=
	</data>
</dict>
</plist>
