<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Together.png</string>
			<key>Service Name</key>
			<string>Together/Add to Together</string>
			<key>Title</key>
			<string>Together</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://reinventedsoftware.com/together/</string>
			<key>Name</key>
			<string>Together</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new item in Together from the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.together</string>
	<key>Extension Name</key>
	<string>Together</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
