<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	i1TuKAq5Irt8d6mZtZzGkNHUu4gySJkVODUVsN2RNDlnMiYZpkY1WCNivSnBD4NtmI/1
	xwWf+KVSMkHwwqjecHDSZCmPDIpKhaMWpAaf3axwE1veypFBXdRxaVwIvjsB5Y+cGexe
	SpHqExPCYGYgQbR/oxpF20SiGTYmSIYIqFc=
	</data>
</dict>
</plist>
