<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	IQK5R4se1hhHIwglHSSq0zpXaz5BIHIJqUvfBbmtFao/6IK6Okjr7hrwV5IleFv21wiF
	cps+tPWmOnC90MoFbDGzrynoUob8K34anaLTMSdiwTVrincxOXl0aHu8a0FN/HAqv2VV
	6yj86za6kNUXJIBcorhN6tinP8waHJu22/g=
	</data>
</dict>
</plist>
