<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <array>
            <dict>
                <key>Image File</key>
                <string>Zhihu.png</string>
                <key>Regular Expression</key>
                <string>(?s)^.{1,1900}$</string>
                <key>Title</key>
                <string>Zhihu</string>
                <key>URL</key>
                <string>http://www.zhihu.com/search?q={popclip text}</string>
            </dict>
        </array>
        <key>Apps</key>
        <array>
            <dict>
                <key>Link</key>
                <string>http://zhihu.com/</string>
                <key>Name</key>
                <string>知乎</string>
            </dict>
        </array>
        <key>Credits</key>
        <array>
            <dict>
                <key>Name</key>
                <string>liutf</string>
            </dict>
        </array>
        <key>Extension Description</key>
        <string>Search for keywords on Zhihu.</string>
        <key>Extension Identifier</key>
        <string>com.liutf.popclip.extension.zhihu</string>
        <key>Extension Name</key>
        <string>知乎</string>
        <key>Version</key>
        <integer>1</integer>
    </dict>
</plist>
