<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SmFBQbW3n7qllnVS5V3uZXQiauIHLszX0/Q3TB6l/dZKO+1F4kbP082ly0VU0TVp829T
	UpjTlhO8PgvqMUfp56PZT6G2wreCP2w70GdWEYXi6Vc+axnQgymBNzYSnc373SyzhKIB
	7vSLr1WaPaOn3RRgEQsQ+JpGX43cnocQFuY=
	</data>
</dict>
</plist>
