<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JucWGyPKiw05EiebVKWbeORs+eWX/b5rp4lT/rD4NZCp2GTc97FqfkGSN69FwjtJzGpF
	RkZm0OPSkY7nRo+utSih2p71iRgEwHhllmN4o2LNzDtDR2HWhuj4VktLGQCCSNMvA3ov
	Jl/LKAR4ykUJzfP3soKLi7ae2OrTHIljbgI=
	</data>
</dict>
</plist>
