<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string></string>
			<key>Service Name</key>
			<string>New Task With Selection</string>
			<key>Title</key>
			<string>Todo</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.appigo.com/todo/</string>
			<key>Name</key>
			<string>Todo</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new task in Todo.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.appigo-todo</string>
	<key>Extension Name</key>
	<string>Todo</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
