<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	La0UhSUs50JDTdXxNLkt6OuAS4hWhW4wivYRmwPGPElhsV02S6ZCCiHoxaowCp8ijEwZ
	tTqxb5GwHx1lYNoKewsw7UzNySIrURk86DvRj36c7bVoCwdJRmjgiLDaqyzguYfSwYh9
	NYAahHQV2SpTq7sCCeDeQFt5lwnu6WFBEMU=
	</data>
</dict>
</plist>
