<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EA1O4R4KgefJjix7pYL2WB71sJwZFEddx7BYcg2Qa7feVHeuqZodRn61n4j+HDKmtFUW
	7F5PLxhPBa9h7sWOhxwZENcKeSZWvpvtFKqogALAzZYDOIEOXJp/OeBYQ1VKIyBnq6kO
	i43eBAh4fkYJRmPHBwpcZjGHndrTnMdUyQs=
	</data>
</dict>
</plist>
