<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bvOY/dlglBIHrDJa6HN49v/dgb2Z5LJMgRQ1feP+xv6Jpkr9lkNj+5hxYcmkigpyI1hs
	TQsj6bEYw0DgUFizlIZEua4OJseSwqPw5BX8aiwntf2jXlVjQNp/SZRNrprzIc0xsV/B
	dUwd4kFM3Sb4Fo8OdDgpnjfIxju8QhSFAFA=
	</data>
</dict>
</plist>
