<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>Percent.png</string>
			<key>Script Interpreter</key>
			<string>/bin/bash</string>
			<key>Shell Script File</key>
			<string>urlencode.sh</string>
			<key>Title</key>
			<string>URL Encode</string>
		</dict>
		<dict>
			<key>Regular Expression</key>
			<string>^.*%[0-9A-Fa-f][0-9A-Fa-f].*$</string>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>PercentInverse.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>urldecode.php</string>
			<key>Title</key>
			<string>URL Decode</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://brettterpstra.com</string>
			<key>Name</key>
			<string>Brett Terpstra</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Percent-encode or decode the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.urlencode</string>
	<key>Extension Name</key>
	<string>URL Encode</string>
	<key>Required Apps</key>
	<integer>701</integer>
</dict>
</plist>
