<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	W3fLlRPy5jPKOKZ43Smq3d8/hSpz81LU8pvXAzPzVM5MLVAn1cBjvzMbY/S6g3B1pRNx
	jpkdMJ51fBtYZ62mTMWmIuzY4pphE+R++ru8rhyFv8hqTCIknG5T5muFu9x1HyNFzRZ1
	IhwpyTxTHMrwBpVZjV/8oFj1zcciwk8NFTs=
	</data>
</dict>
</plist>
