<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EO+8RToceG8X3+fWnQrwniaKA0geKQX5ZD8eSz4WUhS22Y4CiDDInjUfkQDyySOhLPEJ
	COdxDF84sa7f9rkqWQ0fDszGf0ZJzZXvqS/EgOKkZbasUI9rW0oXlksvmLsGaCbHjTAf
	Yt8lsH8AsQi7rPN26z9Jx1s9dHS4G9P1Bso=
	</data>
</dict>
</plist>
