<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Doka8PJN+O26MCqRMe0ssT+29enBzP/8evRV23ioViWDdnoRkkhm5/H/SzXeEG8Kitql
	gx9PgM6wDR6u/NOAA3xjIyMAdvHVvm7ykgpImpnJbbdgEtpoLsqkkEa2HZZCtxoazkas
	Q73+66A+DekN+VbSzeN+YJIwV0X8jraJ3Co=
	</data>
</dict>
</plist>
