<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	F72kTCofAKJdrhwKEd/TzJ372UPy3hqKnBxhbFHgerz6iQQSTxGodJIzOIcfxto/VN9/
	Txgbe7aM6+k9YUhL0j9BfFR7LqsMPsPL4AbXb17oKVIEMUarDsV5Mx4RXgk1/TbVAwPG
	Kx5xIiIKWg1GjzwoIpnuyoSSaSoJ6Po9ZD8=
	</data>
</dict>
</plist>
