<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>	
			<key>Shell Script File</key>
			<string>textmate.sh</string>
			<key>Title</key>
			<string>TM</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.macromates.textmate</string>
				<string>com.macromates.TextMate.preview</string>			
			</array>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>https://www.macromates.com/</string>
			<key>Name</key>
			<string>TextMate</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Open the selected text as a new file in TextMate.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.textmate</string>
	<key>Extension Name</key>
	<string>TextMate</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
