<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>v.png</string>
			<key>Regular Expression</key>
			<string>\s?(\w+)\s?</string>
			<key>Title</key>
			<string>Vocabulary.com</string>
			<key>URL</key>
			<string>https://www.vocabulary.com/dictionary/{popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Lookup a word on Vocabulary.com.</string>
	<key>Extension Identifier</key>
	<string>com.alanchen.popclip.extension.vocabulary</string>
	<key>Extension Name</key>
	<string>Vocabulary.com</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
