<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Regular Expression</key>
			<string>(\d+(?:\.\d+)?)\s?kgs?</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>lb-kg.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>lb</string>
			</dict>
		</dict>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Regular Expression</key>
			<string>(\d+(?:\.\d+)?)\s?lbs?</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>lb-kg.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>kg</string>
			</dict>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.lb-kg</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>lb / kg</string>
	</dict>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
