<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>leap.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,74}$</string>
			<key>Service Name</key>
			<string>Leap/Search in Leap</string>
			<key>Title</key>
			<string>Leap</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.ironic.leap</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.ironicsoftware.com/leap/</string>
			<key>Name</key>
			<string>Leap</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search files on your Mac using Leap.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.leap</string>
	<key>Extension Name</key>
	<string>Leap</string>
</dict>
</plist>
