<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	i2XgDj/lTI+MxzY50pywgGj8EpYkp/Pwlicj0mSvMYAiMLCqFfU1yJHXNSMRMjKLnSmi
	XeMqJkOzJ3JGmbe7jXY5xH0Esq2bQ05lE8vg83Ixv2JfsxVTGucd9Pp5nbxaJUsE6C2q
	dBT5tpbIAzVR35ZIPhpu9Xl/Lch/JdUf4ho=
	</data>
</dict>
</plist>
