<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
			</dict>
			<key>Title</key>
			<string>⌘A⌘C</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.select-all-and-copy</string>
	<key>Extension Name</key>
	<string>Select All &amp; Copy</string>
	<key>Requirements</key>
	<array>
		<string>copy</string>
	</array>
</dict>
</plist>
