<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	nzujL9fva8cEUYURhNCCXwVLo80KiYv9FT+lzds6MjiDbOoHkFvAx4IAdI/0MZU3rnAt
	tlaY6PS1dRRtiq0B7KNkMcr82mU0Z/kT/FcpwBayTEsic1tOusUIxT/5nU4Jl3eFX7Zk
	6S8raJqqCvYl+gituRWzVPwAKF7VPKO6PGg=
	</data>
</dict>
</plist>
