<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pa38iiWXN6U4jXKhEnHoK2LZeSPJh2FKNDhItsyU3fz6evh637a/pBvjfbaxZ6wNP51z
	TXwfIO5cIJ7dabWclwyLkK6GBkVMG+5QakVl1jZHVBCOqpPUekeVlB+6bOIRlhE7e+a3
	sPAHys5TAkrl5iU4TNXm8XYpmzJD/KO+cnI=
	</data>
</dict>
</plist>
