<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>YoruFukurou</string>
	<key>Extension Identifier</key>
	<string>com.hzlzh.popclip.extension.yorufukurou</string>
	<key>Extension Description</key>
	<string>Compose a new tweet using Tweetbot. Also, you can select a username such as @tapbots to see that user's profile.</string>
	<key>Apps</key>
	<array>
		<dict>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://itunes.apple.com/us/app/yorufukurou/id428834068?mt=12</string>
			<key>Name</key>
			<string>YoruFukurou</string>
			<key>Bundle Identifier</key>
			<string>com.YoruFukurouProject.YoruFukurou</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>yorufukurou.png</string>
			<key>Shell Script File</key>
			<string>tweet.sh</string>
			<key>Title</key>
			<string>Tweet</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,195}$</string>
		</dict>
		<dict>
			<key>Shell Script File</key>
			<string>user.sh</string>
			<key>Title</key>
			<string>{popclip text}</string>
			<key>Regular Expression</key>
			<string>^@\w{1,20}$</string>
		</dict>
	</array>
</dict>
</plist>
