<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Regular Expression</key>
            <string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>Urban Dictionary</string>
			<key>Image File</key>
			<string>ud.png</string>
			<key>URL</key>
            <string>http://www.urbandictionary.com/define.php?term={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
            <string>http://www.urbandictionary.com/</string>
			<key>Name</key>
			<string>Urban Dictionary</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>zhiyelee</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Find out what that weird phrase actually means using Urban Dictionary.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.urban-dictionary</string>
	<key>Extension Name</key>
	<string>Urban Dictionary</string>
</dict>
</plist>
