<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	AWgrJM8//EDaPX2LbOFcgxPTwSWbaW1NVyi/WCUfHwYNSsp9PKLN1rn3NGO4xm6O1D6y
	wma4qUqeiD07q883kO0ROieych6lsb0EOItgjCMJaXkZVtVxQhsDzZW1LZ20v5dnrY72
	cAQj1qja20juc+OMRCIQam8CgsI9gOm/0A8=
	</data>
</dict>
</plist>
