<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JlU+p5JmoOGcv2d06xkjKCb/gDMivxnOAyIphHE99lit3nyqqjRiJZbjZOeymyhxnPL5
	vXGSrwmBUIaXgyvMj/EZiVSSYWS0zfh8WRppr9Sbgoksf6DCY/hsPm9H25R6OIAZOIMY
	x8JF44Um6ygbrCAciZKpIZzjw4vMLR3GjhY=
	</data>
</dict>
</plist>
