<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	usH+9dFyfoOWA6JUCBtsSg/txWVr4knLf/8uZ3oJLntb9Y7c8QXXkjElwCQ5qq6qPusE
	Iiqx2ufFNJMC/QVC/ZBI24veXtv5pMEFazlM+UiL114CvyPYqUmiUI8p6J4cXh4SpIaN
	F5uHsJxGWUkaadPW48aTJGaruZAOVJzZ9dM=
	</data>
</dict>
</plist>
