<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LCnzvrRxVTkCTV1T25taQ6YEEqe/wXvizoBhw8fZXpAL3jOpr3peM+9misBbYSk7c3Fm
	pVWjofJIxvy6Zvl2QavfhmMmZFAsDZSBNd/vMDcpJHZD1+NwwQYyAWUPLHEQIZHm+QWY
	Nrql2zjaunGox4O92fSYsOSA2QDtGcRW7Yk=
	</data>
</dict>
</plist>
