<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>riffic.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,195}$</string>
			<key>Shell Script File</key>
			<string>post.sh</string>
			<key>Title</key>
			<string>Tweet</string>
		</dict>
		<dict>
			<key>Regular Expression</key>
			<string>^@\w{1,20}$</string>
			<key>Shell Script File</key>
			<string>username.sh</string>
			<key>Title</key>
			<string>{popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.iconfactory.mac.Twitterrific</string>
			<key>Link</key>
			<string>http://iconfactory.com/software/twitterrific</string>
			<key>Name</key>
			<string>Twitterrific</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Compose a new tweet using Twitterrific. Also, you can select a username such as @iconfactory to see that user's profile.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.twitterrific</string>
	<key>Extension Name</key>
	<string>Twitterrific</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
