<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	me8kQsTf7MFSBsR9HEbF+iyE6AsC5WpIejVoetPAqKVFsnaqp8PnfikxWLV7UA7sVvTz
	ENlwFhlcF3fix1YrD8CKC8J8EM4pRyP/cU8wnqWGomjtFgRW1LcfqFIX/cLxr50j4k2s
	X8NgU0IlYv8uNJIxMSaJ5LVQTsFHwAJlY5Y=
	</data>
</dict>
</plist>
