<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>Summarize</string>
			<key>Title</key>
			<string>Summ.</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Invoke the OS X Summarize service.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.summarize</string>
	<key>Extension Name</key>
	<string>Summarize</string>
</dict>
</plist>
