<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tcIxrdunkaN6jXOb2iNMOFNlgoXT/VDf5hMUNy6zvr3n5DfhkAIt+OKqcIOhdd8kJvoZ
	3MoRj3bkr30Vek2+AUn4qZ013A0hoS7XVg3Yti/2lUM5va3Pja+gcxWGpPQUegdOZsyl
	jd9++p8FEkklxLaSXQPEgv1yTjSaUj9chz0=
	</data>
</dict>
</plist>
