<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Google Translate</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.google-translate</string>
	<key>Extension Description</key>
	<string>Open Google Translate in a web browser with the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://translate.google.com/?langpair=auto%7Cauto&amp;text={popclip text}</string>
			<key>Image File</key>
			<string>TranslationIcon.png</string>
			<key>Title</key>
			<string>Google Translate</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
		</dict>
	</array>
</dict>
</plist>
