<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bjf/wE6M5gTxMRJ9kIni6dYo3BG7HyQlqAe9GGiQ5yae0B/hi7vsF54rQ2mItYS9+UvD
	oF1nlhsDtFz9MD+YKemkK8vfWIfNDhJ9qIVRWQyPqLfKy1JLhYbwXo9NbhlfrL9Uz6mN
	HOSjy2VkHbUcJWXpywwZApNVyM52apxMy64=
	</data>
</dict>
</plist>
