<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>unshort.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>unshort.php</string>
			<key>Title</key>
			<string>Unshorten Link</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://longurl.org/expand</string>
			<key>Name</key>
			<string>LongURL</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Expand a short URL to its original form. Implemented using LongURL.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.unshorten</string>
	<key>Extension Name</key>
	<string>Unshorten Link</string>
</dict>
</plist>