<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>			
			<key>Script Interpreter</key>
			<string>/bin/zsh</string>
			<key>Shell Script File</key>
			<string>main.zsh</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>TestPWAuth</string>
			</dict>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.test-pwauth</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>TestPWAuth</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>username</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Username</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>password</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Password</string>
			</dict>
			<key>Option Type</key>
			<string>password</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>checkbox</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Test Checkbox</string>
			</dict>
			<key>Option Type</key>
			<string>boolean</string>
		</dict>
	</array>
	<key>Options Script File</key>
	<string>auth.zsh</string>
	<key>Options Script Interpreter</key>
	<string>/bin/zsh</string>
	<key>Required Software Version</key>
	<integer>714</integer>
</dict>
</plist>
