<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	uA+E88YYD4iIOkRMG0ly3xu8tnqHYIyqIj2l74PTWLEdoqiw+FYCP/U03bweiovua46R
	XQ5dzTkNaJPoez6o2zsEJNs+JuwILdcmyO+wVPAtulENyOcQL9h49q/8kKlogpaxQebz
	Q2/Jx5UDoinjOGWiexGZjK1Biy93vzZ9fGc=
	</data>
</dict>
</plist>
