<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>onlineDictionary.png</string>
			<key>Regular Expression</key>
			<string>(?s)[\w ]{1,200}$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>onlineDictionary.php</string>
			<key>Title</key>
			<string>Online Dictionary</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for the selected work in an online dictionary. Supports Dictionary.com, Merriam Webster Online, Oxford Advanced Learner's Dictionary, Youdao, dict.cn, dict.cc, and more.</string>
	<key>Extension Name</key>
	<string>Online Dictionary</string>
    <key>Credits</key>
    <array>
        <dict>
            <key>Link</key>
            <string>http://blog.tsnrose.com</string>
            <key>Name</key>
            <string>zhiyelee</string>
        </dict>
    </array>
    <key>Extension Identifier</key>
    <string>com.pilotmoon.popclip.extension.online-dictionary</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>service</string>
			<key>Option Label</key>
			<string>Dictionary Service</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Default Value</key>
			<string>dictionary.com</string>			
			<key>Option Values</key>
			<array>
				<string>dict.cc</string>
				<string>dict.leo.org</string>
				<string>lingvo-online.ru</string>
				<string>merriam-webster.com</string>
				<string>oxfordlearnersdictionaries.com</string>
				<string>thefreedictionary.com</string>
				<string>wordwebonline.com</string>
			    <string>dict.cn</string>
			    <string>dict.youdao.com</string>
			    <string>dictionary.com</string>
			    <string>iciba.com</string>
			</array>
		</dict>
	</array>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
