<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Make Sticky</string>
	<key>Extension Description</key>
	<string>Make a new Stickies note with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.make-sticky</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>Make Sticky</string>
			<key>Image File</key>
			<string>stickies.png</string>
			<key>Title</key>
			<string>Sticky</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,600}$</string>
		</dict>
	</array>
</dict>
</plist>
