<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.things</string>
	<key>Extension Name</key>
	<string>Things</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>ThingsAddToDo.applescript</string>
			<key>Image File</key>
			<string>boxtick.png</string>
			<key>Title</key>
			<string>Things</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,500}$</string>
		</dict>
	</array>
</dict>
</plist>
