<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>boxtick.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1000}$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>things.php</string>
			<key>Title</key>
			<string>Things</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.culturedcode.things</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://culturedcode.com/things/</string>
			<key>Name</key>
			<string>Things</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new to-do in Things.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.things</string>
	<key>Extension Name</key>
	<string>Things</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
