<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UTUF28KYFgmbHKlEhmLNFereDTdXZ5WSo95+yvd09apvcq56uHqp5fzJekPz4axs5J7W
	vspGGD4xoc2IcMB1LzJ/EzKRF6SnIYjjyBTK+gfub9MhWBTT9TJb73qNMJF/OcW9iXp+
	ShXf2J9cFJ83lWzm3Ul5sGdLe8eqyXqwkzU=
	</data>
</dict>
</plist>
