<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ptCqXVS6OQ+nqYCLKgBH4itvC0Lvm8fPKgp4P9Dfentf6EQjrfXugg5knCnpSmb2W5ee
	VwwTuot9LWU++0LzIF4fS6TdIohth9RDf0S7mfH5xjX6C6lf/uhmB3F5j688UmtT2TY/
	2sVO5ALvNy0MApsPKTGOhbckWNsfWzRrxOE=
	</data>
</dict>
</plist>
