<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	u2PdnOv2eMflKLUcwSZa3yN0xiSL8ylPcll9kekTKE9GwqR9brsYeOqeHW/PwkqRBi4n
	vsXdPdfBhBM/+hP7HC4LWeg/vb3+9sj4ZCfULjj1XFGnw9rqTNSAlYXBedN00UMueVoW
	zfCxXAK//743l1H++Y9SkmJQhkfHSAaGJwM=
	</data>
</dict>
</plist>
