<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dbbffR+4gw9wEbl2potw5VM842kq8M/NBt97M9SX5fNi6cBWQbqK7GntCkanR9oqQbIa
	PYxsnzNdebB39WqYI4pdEmM8XyoiGynjNpW7ZnhWNfbqPRCdgFQ6thnZfN/W/WzV58+6
	J1YZljazID4WrxwFdoUmJMsZGp9FrjcJGXg=
	</data>
</dict>
</plist>
