<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.summxt.popclip.dehelper</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Dehelper</string>
		<key>zh-Hans</key>
		<string>德语助手</string>
	</dict>
	<key>Extension Image File</key>
	<string>Dehelper.png</string>
	<key>Required Apps</key>
	<array>
		<string>com.eusoft.dehelper</string>
	</array>
	<key>Regular Expression</key>
	<string>(?s)^.{1,}$</string>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Translate the text using Dehelper.</string>
		<key>zh-Hans</key>
		<string>用德语助手划词翻译。</string>
	</dict>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Summxt</string>
			<key>Link</key>
			<string>http://mac.pcbeta.com/thread-129485-1-1.html</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Dehelper</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.francochinois.com/Dehelper/mac.aspx</string>
			<key>Bundle Identifier</key>
			<string>com.eusoft.dehelper</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Dehelper</string>
				<key>zh-Hans</key>
				<string>德语助手</string>
			</dict>
			<key>Image File</key>
			<string>Dehelper.png</string>
			<key>AppleScript File</key>
			<string>Dehelper.applescript</string>
		</dict>
	</array>
</dict>
</plist>
