<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	f+Sf8OPWxu2f8lE1I6uBDHDqswPG66cn2xkL2M+DpZ73z+cHJ6PJ62TJlDuP0HYxlDyL
	F51hYbGOuJew7g2RLmOl05ncBxwy4S3BQllz/EqGEw8+v/5h3n5zQ3O4f6jn/xwq36B6
	iP/NZSQj/6XAEXi1JTb0KHeNwQseZevzhm4=
	</data>
</dict>
</plist>
