<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Members</key>
		<array>
			<string>PasteAndMatch</string>
			<string>PasteAndEnter</string>		
			<string>Delete</string>
			<string>SelectAll</string>
			<string>Highlight</string>	
		</array>
		<key>Title</key>
		<string>Text Editing</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Formatting</string>			
			<string>Uppercase</string>
			<string>Lowercase</string>
			<string>Capitalize</string>
			<string>TitleCase</string>
			<string>Quotes</string>
			<string>Brackets</string>
			<string>Hyphenate</string>				
			<string>Underscore</string>			
			<string>RemoveSpaces</string>				
      <string>Slugify</string>				
			<string>FullHalfWidth</string>
		</array>
		<key>Title</key>
		<string>Text Transformation</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>MarkdownToHTML</string>
			<string>CopyAsMarkdown</string>
		</array>
		<key>Title</key>
		<string>Markdown</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>		
			<string>CharCount</string>
			<string>WordCount</string>	
		</array>
		<key>Title</key>
		<string>Text Statistics</string>
	</dict>	
	<dict>
		<key>Members</key>
		<array>
			<string>LargeType</string>			
			<string>Print</string>			
		</array>
		<key>Title</key>
		<string>Text Display</string>
	</dict>		
	<dict>
		<key>Members</key>
		<array>
			<string>Say</string>	
		</array>
		<key>Title</key>
		<string>Text-to-speech</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>    
			<string>GoogleTranslate</string>
			<string>BingTranslator</string>
			<string>DeepLTranslator</string>			
			<string>BubbleTranslate3</string>
			<string>MateTranslate</string>
      		<string>Translatium</string>
			<string>TranslateTab</string>															
		</array>
		<key>Title</key>
		<string>Translation</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Notes</string>
			<string>MakeSticky</string>
			<string>Bear</string>
			<string>Curiota</string>
			<string>DEVONthink3</string>
			<string>Drafts</string>
			<string>EagleFiler</string>
			<string>NotationalVelocity</string>
			<string>NoteAway</string>					
			<string>Notefile</string>
			<string>NotesTab</string>						
			<string>OneNote</string>
			<string>Paper</string>
			<string>Yojimbo</string>
		</array>
		<key>Title</key>
		<string>Notes Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Scrivener</string>
			<string>Ulysses</string>
		</array>
		<key>Title</key>
		<string>Writing Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Reminders</string>
      <string>OmniFocus</string>
			<string>Things3</string>
			<string>2Do</string>
			<string>Doit</string>
			<string>TaskPaper</string>
			<string>Todo</string>
			<string>Due</string>
			<string>Wunderlist</string>			
			<string>TheHitList</string>		
			<string>Todoist</string>	
			<string>TickTick</string>							
		</array>
		<key>Title</key>
		<string>To-Do Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Fantastical2</string>
			<string>Fantastical3</string>
			<string>BusyCal</string>							
		</array>
		<key>Title</key>
		<string>Calendar Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Cardhop</string>	
			<string>BusyContacts</string>							
		</array>
		<key>Title</key>
		<string>Contacts Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Unclutter</string>
			<string>Yoink</string>							
			<string>Dropshelf</string>													
		</array>
		<key>Title</key>
		<string>Drag &amp; Drop Utilities</string>
	</dict>
		<dict>
		<key>Members</key>
		<array>
			<string>Alfred</string>		
			<string>LaunchBar</string>				
			<string>Quicksilver</string>
		</array>
		<key>Title</key>
		<string>Launcher Utilities</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>TextEdit</string>
			<string>Email</string>
			<string>Messages</string>
			<string>Maps</string>
			<string>Leap</string>			
			<string>HoudahSpot</string>
			<string>Tembo</string>
			<string>Typinator</string>			
			<string>TextSoap</string>	
			<string>Parcel</string>		
			<string>Deliveries</string>												
			<string>Slack</string>		
			<string>DayOne</string>				
		</array>
		<key>Title</key>
		<string>Other Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>GoogleSearch</string>								
			<string>Baidu</string>
			<string>Bing</string>		
			<string>Ecosia</string>		
			<string>YahooSearch</string>
			<string>YahooJapanSearch</string>
			<string>DuckDuckGo</string>	
			<string>StartPage</string>										
			<string>Yandex</string>
			<string>Naver</string>			
		</array>
		<key>Title</key>
		<string>Web Search</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Wikipedia</string>				
			<string>GoogleImages</string>
			<string>GoogleMaps</string>
			<string>GoogleScholar</string>	
			<string>TwitterSearch</string>	
			<string>Amazon</string>	
			<string>CamelCamelCamel</string>	
			<string>Ebay</string>											
			<string>Etsy</string>
			<string>IMDb</string>	
			<string>RottenTomatoes</string>	
			<string>Goodreads</string>	
			<string>YouTube</string>		
			<string>DOI</string>								
			<string>PubMed</string>			
			<string>WorldCat</string>			
			<string>UrbanDictionary</string>									
			<string>WolframAlpha</string>												
			<string>Douban</string>	
			<string>Taobao</string>		
			<string>JD</string>			
		</array>
		<key>Title</key>
		<string>Other Searches</string>
	</dict>
		<dict>
		<key>Members</key>
		<array>		
			<string>Twitterrific</string>
			<string>Tweetbot</string>
			<string>YoruFukurou</string>										
			<string>Buffer</string>	
			<string>LinkedIn</string>		
		</array>
		<key>Title</key>
		<string>Social Networking</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
      <string>Music</string>
			<string>iTunesMusic</string>
			<string>Spotify</string>
			<string>Discogs</string>
		</array>
		<key>Title</key>
		<string>Music</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>ShortenLink</string>
			<string>Bitly</string>
			<string>Droplr</string>
			<string>ShortMenu</string>
		</array>
		<key>Title</key>
		<string>Link Shortening</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>ReadingList</string>
			<string>Pocket</string>
			<string>Pinboard</string>
      <string>Readwise</string>
			<string>Leech</string>		
			<string>Downie</string>
			<string>OpenInSafari</string>
			<string>OpenInChrome</string>
			<string>OpenInFirefox</string>
			<string>OpenInBrave</string>
			<string>OpenInOpera</string>
      <string>OpenInEdge</string>
			<string>GetIP</string>
		</array>
		<key>Title</key>
		<string>Work with URLs</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Call</string>
			<string>Skype</string>
		</array>
		<key>Title</key>
		<string>Phone Numbers</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>OnlineDictionary</string>						
			<string>Antidote</string>			
			<string>Eudic</string>								
		</array>
		<key>Title</key>
		<string>Dictionaries</string>
	</dict>	
	<dict>
		<key>Members</key>
		<array>
			<string>Dash</string>
			<string>Quiver</string>
			<string>SnippetsLab</string>
			<string>RunCommand</string>
			<string>BBEdit</string>				
			<string>URLEncode</string>
			<string>HTMLEncode</string>
			<string>Base64Encode</string>
			<string>UnixTime</string>
		</array>
		<key>Title</key>
		<string>For Developers</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
      <string>Timestamp</string>		
      <string>Calculate</string>
			<string>Convert</string>
			<string>Sort</string>
			<string>Reverse</string>
			<string>Shuffle</string>			
			<string>Append</string>
			<string>Swap</string>	      
		</array>
		<key>Title</key>
		<string>Useful Tools</string>
	</dict>
</array>
</plist>
