<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Members</key>
		<array>
			<string>PasteAndMatch</string>
			<string>PasteAndEnter</string>
			<string>Formatting</string>
			<string>Delete</string>
		</array>
		<key>Title</key>
		<string>Text Editing</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Capitalize</string>
			<string>Uppercase</string>
			<string>Lowercase</string>
		</array>
		<key>Title</key>
		<string>Text Transformation</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Markdown</string>
		</array>
		<key>Title</key>
		<string>Markdown</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Notes</string>
			<string>MakeSticky</string>
			<string>Evernote</string>
			<string>NotationalVelocity</string>
			<string>nvALT</string>
			<string>StickyNotifications</string>
		</array>
		<key>Title</key>
		<string>Notes Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Reminders</string>
			<string>OmniFocus</string>
			<string>Things</string>
			<string>2Do</string>
			<string>Doit</string>
			<string>TaskPaper</string>
		</array>
		<key>Title</key>
		<string>To-Do Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Mail</string>
			<string>Sparrow</string>
		</array>
		<key>Title</key>
		<string>Email Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>Twitter</string>
			<string>Twitterrific</string>
			<string>Tweetbot</string>
		</array>
		<key>Title</key>
		<string>Twitter Apps</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>YouTube</string>
			<string>Spotify</string>
			<string>ImFeelingLucky</string>
		</array>
		<key>Title</key>
		<string>Searches</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>GoogleTranslate</string>
			<string>TranslateTab</string>
		</array>
		<key>Title</key>
		<string>Translation</string>
	</dict>
	<dict>
		<key>Members</key>
		<array>
			<string>WordCount</string>
			<string>CharCount</string>
			<string>Say</string>
			<string>OpenInChrome</string>
			<string>Dash</string>
			<string>RunCommand</string>
			<string>Leech</string>
			<string>PreviewHighlight</string>
			<string>Fantastical</string>
		</array>
		<key>Title</key>
		<string>Miscellaneous</string>
	</dict>
</array>
</plist>
