<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>&gt;md.png</string>
			<key>Shell Script File</key>
			<string>html2md.sh</string>
			<key>Title</key>
			<string>HTML→Markdown</string>
			<key>Pass HTML</key>
			<true/>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert HTML (both source code and web content) to Markdown.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.html-to-markdown</string>
	<key>Extension Name</key>
	<string>HTML→Markdown</string>
</dict>
</plist>

