<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>RunTerminalCommand.applescript</string>
			<key>Image File</key>
			<string>RTC.png</string>
			<key>Title</key>
			<string>RTC</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://twitter.com/smithjw/status/244757999665700864</string>
			<key>Name</key>
			<string>James Swift</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Run the selected text as a Terminal command. (Be careful!)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.rtc</string>
	<key>Extension Image File</key>
	<string>RTC.png</string>
	<key>Extension Name</key>
	<string>Run Command</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
