<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	YdmtnaxFmbAdxRFTz9awya3ULa6E55ZxdBDkLrMWGZCg4m7VP0vvNZosk5sB7y6/luab
	h9QEpadKsOProS/TZgKcNVW+v2H7+k+OBJExcHDZFyCJNgWmgaz7/z0r0EP/0pdqqBBu
	VGShdoonzfp6gi/NzqU2kpbx+2aNgKfqELo=
	</data>
</dict>
</plist>
