<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	o5tFhJj1R8LRltlHUOunfCRyp2EFRHzEo87igrIeLX3plWifu4D6XxkqONSgyh6g+PO8
	G2ILrV2RyPXImhFwtYjzsCuckZjzalw851KaQ6rEiPSgNUdNYShi0npRexIcZoGgPArk
	lsJ/HlwrC1CawbcNbp9cPwl7e7FS+SxC38k=
	</data>
</dict>
</plist>
