<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Taobaoicon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
			<key>Title</key>
			<string>Taobao</string>
			<key>URL</key>
			<string>http://s.taobao.com/search?q={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://taobao.com/</string>
			<key>Name</key>
			<string>Taboao</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Qi Li</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for products on Taobao.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.taobao-search</string>
	<key>Extension Name</key>
	<string>Taobao Search</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
