<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>mdn.png</string>
			<key>URL</key>
			<string>https://developer.mozilla.org/search?q={popclip text}</string>
			<key>Title</key>
			<string>MDN Web Docs</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.mdn</string>
	<key>Extension Name</key>
	<string>MDN Web Docs</string>
	<key>Extension Description</key>
    <string>Search Mozilla Developer Network (MDN) Web Docs with the selected text.</string>
</dict>
</plist>
