<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dA7Dv0v6yqw8rFZOruVD7cZfzyWnlBrVrrS/ApvqAAUZGZCsD53uM2Tlpff9AgEq/4Nb
	rLbLXxH0k9pGJTXR5LTWR5dhtCqvdyfmyk1Z/L9Q2QcYNPS4UBQSXYWhIDowDWtNwftJ
	Hn+4mo/dAy+XOwllYZaNXRnYjN8USuykp14=
	</data>
</dict>
</plist>
