<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tR78X283rW0X8dagpggHxENehIaIZyv8KPOxgSS8zfwyrjpcIg/ATj3pRd5k9ZP5jsJY
	xVJBp7B+tLp87whquRKRITwLG/A8VPiyGXXEfpjb8SbW460Szhl3Exx7Fmts6HFL6uJH
	yDbURrjbWWA11h5vw5hGUbzKNXq2sdNHspI=
	</data>
</dict>
</plist>
