<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>bookicon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Shell Script File</key>
			<string>dict.sh</string>
			<key>Title</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.dictionary2</string>
	<key>Extension Name</key>
	<string>Dictionary2</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
