<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ivnfHRuTPXIeOfKOBIguoGzei87Bh24DL/YTATKegO2sB8NL1/ug2Vk+RSASEWJV3FQf
	yY0R+iE6CmGc6tzFzUQrJGiueilwmoTPdDYJE/PzIRA2eJfg5G7A/MLKl+XXD6qNq5/9
	4zKhBu+lzSfNPXUmLIxIBp2IFBrTeokH4PM=
	</data>
</dict>
</plist>
