<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>dict.cc</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.dictcc</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.dict.cc/?s={popclip text}</string>
			<key>Title</key>
			<string>cc</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,250}$</string>
		</dict>
	</array>
</dict>
</plist>
