<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XswgQEBX7k2JKvoMWE3epW/uNnXYmUDWc4+agAQPsIvjMFiVL4l46/g4ELhoMrAwjavv
	6YSOk05n2fRVsfAKUukWG3vPqh+9dBDIG0QQ2gzLL+bKrZTgUBXCa3S0QUEtPkLUnw1Q
	WXoMDqjcCH2pe7XHXwDAgBq0EgE1KRiAXv8=
	</data>
</dict>
</plist>
