<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>snippetslab.png</string>
			<key>Service Name</key>
			<string>Add to SnippetsLab</string>
			<key>Title</key>
			<string>SnippetsLab</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.renfei.SnippetsLab</string>
        <string>com.renfei.snippetslab-setapp</string>
			</array>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://www.renfei.org/snippets-lab/</string>
			<key>Name</key>
			<string>SnippetsLab</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://github.com/alxstu</string>
			<key>Name</key>
			<string>Alx Stu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a code snippet in SnippetsLab.</string>
	<key>Extension Identifier</key>
  <string>com.pilotmoon.popclip.extension.SnippetsLab</string>
	<key>Extension Name</key>
	<string>SnippetsLab</string>
</dict>
</plist>
