<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	qr1cjstFfzzVQm0Ahw/Z2KIW8MoNFfmp65LuqDXyUeOE3c6bvUWfiIppiLE8hrwUgMuQ
	FHV0sHTThz+faKf9Nlm7jB7g7MVAUl6y2R6rydvJquX+icnPAl0MjnD1hSEeNNxdccZZ
	BofpRpZbuUBTlYPgAtkbes0OpM8ylHl86MA=
	</data>
</dict>
</plist>
