<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	pJF8i15hEqNNUm+M8yCC2bDmA32t6OrdbH3/t7V1CKlfydrhig3Ng6bnER/oaa0Z4wTP
	J/Q+L2FjR1cMjRC/6ALWdNZDfw2B45NO+FVNVlOO0MRsFDSbqEV3M3+Ft/Vx0ky0kPQH
	wS+NR8Y3kgbSNeemcoz8eZQTGgCkcNjXAco=
	</data>
</dict>
</plist>
