<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>aarrow.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Amazon</string>
			<key>URL</key>
			<string>http://www.{popclip option site}/s?field-keywords={popclip text}</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.amazon-search</string>
	<key>Extension Name</key>
	<string>Amazon</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>site</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Amazon Site</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>amazon.com</string>
				<string>amazon.ca</string>
				<string>amazon.cn</string>
				<string>amazon.co.jp</string>
				<string>amazon.co.uk</string>
				<string>amazon.de</string>
				<string>amazon.es</string>
				<string>amazon.fr</string>
				<string>amazon.it</string>
			</array>
		</dict>
	</array>
	<key>Options Title</key>
	<dict>
		<key>en</key>
		<string>Choose the Amazon site for your country.</string>
	</dict>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
