<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FU2Fp8j2xj6LiVcQjpsilm6Oj4t1+MKUEDAM68MZ4lhOx9opUcNT529ygH2Scg4yBvET
	DT0P7BC5H4UzD6NklqnGf1OQect7qDkjgzf+id1QVqNQJowtO7C4PlKR1RKM3LKMYdfa
	347oXmU9yrz8oDZ/gN813uzY3U47HyC0160=
	</data>
</dict>
</plist>
