<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.pochta</string>
	<key>Extension Name</key>
	<string>Pochta.ru</string>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Look up on pochta.ru</string>
	</dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>POCH</string>			
			<key>URL</key>
			<string>https://www.pochta.ru/tracking/#{popclip text}</string>
		</dict>
	</array>
</dict>
</plist>
