<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	n8c8tSEPYkZEjZXvwFmBbYjEuAu25qkTu5YNPYlCt9Q0exbpcUlLnxAm+qxraa2XMfl1
	b3sw6T46LADbnmslFp41pgY/atCuixytnyRKM8orEXwUa/DTBBl/S6p70bsNoxxkd5Sr
	ZgF7bQcVA9IPsM1qINDQnY5xqyJRKV3+9Ng=
	</data>
</dict>
</plist>
