<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	MQ/Ijn8KLeBghbgoeCtWjyP3po5QQI/nl9mdtabahEDYMBEZrV0rEx9HoBkQRKy2d27n
	2UKslClNyOa+spphRj0+a7YiYNSHNylNDrWIE1H+Rxp/sqm2hdKIxMrLyUCSqiZjjT0Z
	XyUTzq78F9s/uU54FmGChORMg+fZHIbbKJ0=
	</data>
</dict>
</plist>
