<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	TMPpp5cE/qPZeYeeszbro1NLGC05keoev0nzyOg1VoeEQcbaiVZ1EvGAuhQKaimVNYX4
	B6ArdbrU1KliFXgNWU4BUj4OKzIzguPPiuOM57OsRYnfC1oqF87+9lzk7zLeIihiHIF+
	ZmeS6sl0n34r/Dr4qfBuGJ7UrvAWW3tQ91g=
	</data>
</dict>
</plist>
