<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Make the selected text all lowercase.</string>
	<key>Extension Name</key>
	<string>Lowercase</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.lowercase</string>
	<key>Extension Image File</key>
	<string>lowercase.png</string>
	<key>Required Software Version</key>
	<integer>3484</integer>
</dict>
</plist>
