<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-status</string>
			<key>Image File</key>
			<string>todoist-2016.png</string>
			<key>Long Running</key>
			<true/>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>todoistAdd.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Todoist</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://todoist.com/</string>
			<key>Name</key>
			<string>Todoist</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Add the selected text to your Todoist inbox.</string>
	</dict>
	<key>Note</key>
    <string>Updated 11 Mar 2020 to fix login problem.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.todoist</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Todoist</string>
	</dict>
	<key>Options Script File</key>
	<string>todoistAuth.php</string>
	<key>Options Script Interpreter</key>
	<string>/usr/bin/php</string>
	<key>Required Software Version</key>
	<integer>1624</integer>
</dict>
</plist>
