<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	rAIou22fDOaeSOqgzV6YTnvc+oBBSXPScYWgivNFdq7tbgzrcoxJ3benDbfAgULBSbq3
	VFYG0S+MLgeBaGSdoZpbMxnlCTV3qrAU+4RXckK61SAPuRNjjdcSY5UIBvrAvd3T1QLF
	L5FSQhfC4FcEymYIyNSKtnazSm/Vr6Xt/yM=
	</data>
</dict>
</plist>
