<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	q/+FPn36x0aTFTsgZCOODyTzrWS0Sy4ox2DZnYS1XQETfDqPndwgFI5avnUcAzyR2IdS
	Ghb+GB3NX9p5lB31sCU/qbnQwl2oK10s/Yl4fHCkR/6krbMhRZdVqi2Q5R4fvXPbv+RW
	+ZTygZbgRtwzXm3bwunLMP+eYAKBBwz0oJ8=
	</data>
</dict>
</plist>
