<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>DashSnippets.png</string>
			<key>Service Name</key>
			<string>Create Snippet in Dash</string>
			<key>Title</key>
			<string>Dash Snippet</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.kapeli.dashdoc</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://kapeli.com/dash</string>
			<key>Name</key>
			<string>Dash</string>
		</dict>
	</array>
<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Alx Stu</string>
			<key>Link</key>
			<string>www.github.com/alxstu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create Snippet in Dash</string>
	<key>Extension Identifier</key>
	<string>de.alxstu.popclip.extension.dashsnippet</string>
	<key>Extension Name</key>
	<string>DashSnippets</string>
</dict>
</plist>