<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>phone.png</string>
			<key>Regular Expression</key>
			<string>(\+)?\(?\d{1,4}\)?(-|\s|\()?\(?\d{1,3}\)?(-|\s)?\(?\d{0,4}\)?(-|\s)?\d{2,3}?(-|\s)?\d{2,3}((-|\s)?\d{1,4})?((-|\s)\d{1,3})?\b|\b((\+)?\d{3}\.\d{3,4}\.\d{4})</string>
			<key>Title</key>
			<string>Call</string>
			<key>URL</key>
			<string>tel:{popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Call the phone number on your iPhone. (Requires OS X Yosemite and iOS 8.)</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.call</string>
	<key>Extension Name</key>
	<string>Call</string>
	<key>Required OS Version</key>
	<string>10.10</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
