<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>phone.png</string>
			<key>Regular Expression</key>
			<string>[0-9\+\*\#][0-9\*\#\-\(\)\. ]+[0-9\*\#]</string>
			<key>Title</key>
			<string>Call</string>
			<key>URL</key>
			<string>tel:{popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Call the selected phone number using your iPhone, or another call handler. (Set the default call handler in FaceTime preferences.)</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.call</string>
	<key>Extension Name</key>
	<string>Call</string>
	<key>Required OS Version</key>
	<string>10.10</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
