<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Htl6zpB5Cj6FbJMBwc/yb4HJ9+J3xRxpQDh4kvi1i5QNj29jnhkXy44PpyxhJqoSsN9E
	EcHtZ8e4tktBEWyE7EV/qcLC8XoduGDyogSvaRUCrwaqmEGrc7aj+hDzeXts3URfSVZ1
	QTF6KfMpyIlNRefchg6Yjc7PtlVzElE6BFk=
	</data>
</dict>
</plist>
