<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JApwa6fuwwttlnnxiKwB6OOn5eWigIQBoLokgF/We+59AZVzQWyraInqox8l83aVB1oW
	iFl8EjjevZYQRJuwTpwiqB1TNeraW1KOW3VapKHTIKcMkuWOPUMgKgCz0jDTD32wxiq9
	WQ+f+51bDJoWy9XFJm+kHL03KmwFyvbzeRs=
	</data>
</dict>
</plist>
