<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	a4YCJkV8Vxr3spvEuBg/djoLeCr/239zJYzcrOtH1t+J8JRbYn30JC1EOM05lfav63D1
	8/XaX7vIjZDNYX+XfDYcWurnLwe87xBbPdM/4QMB06VCuWxzlBeV8lOidZtZS9xgxyfa
	UUwzXmmdNRBEu2Olf6hYrMYf5phO5sa3bLs=
	</data>
</dict>
</plist>
