<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	D+3+T23WeMJ/PAqt52U0PRw+qQLzopfSlxIEtd+oU6ceKoctPvCBy7Bf6WShaZq5GPha
	qwDcQkg8dEzGaQEozOZg733Mp5dDOM46zJHEMo2U3cVrAqecF4Zsrh78OQGhB5uNPVhy
	bL9x7LMVmpmVPrSyFqNy4h9e9vu8w9RPoOU=
	</data>
</dict>
</plist>
