<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hw3vtThBexko474edrbHmkhNGeUqXNHtIiXVAjtw5thL4qxqjjBhLD04HiMuvXIKzhv3
	0gL07LJbCjhcHg3E18PFZWJMgLQSXvCfkQ83Y1vnwQOoF4kEYOVdFj6FZlXXwtkm3kWx
	n05PWjI0Tt3uSGx2SJ1AzjPLoqJVWHoNHCs=
	</data>
</dict>
</plist>
