<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Bing Translator</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.bing-translator</string>
	<key>Extension Description</key>
	<string>Open Bing Translator in a web browser with the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://www.bing.com/translator/?text={popclip text}&amp;from=auto&amp;to=auto</string>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Title</key>
			<string>Bing Translator</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1000}$</string>
		</dict>
	</array>
</dict>
</plist>
