<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	rWmiSi2P6FT9v2RVLxob/6wPS3FyEAluiQ/Nywo4ET/RvhuUcWMcSZUYaM2lEEhWF1JV
	Ws/lafr6kFTanGe31j44m3mn3Qwj34MPMy601mzVjle+SrG+/df9xaPKVwTs8OmDRCiQ
	ZFxcXvjkgAaa/vkP/M58MQYE+GNslsK1EzE=
	</data>
</dict>
</plist>
