<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>scriv.png</string>			
			<key>Service Name</key>
			<string>Scrivener/Scrivener: Make New Clipping</string>
			<key>Title</key>
			<string>Scrivener</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.literatureandlatte.scrivener2</string>
				<string>com.literatureandlatte.scrivener3</string>	
			</array>			
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://www.literatureandlatte.com/scrivener.php</string>
			<key>Name</key>
			<string>Scrivener</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Make a new clipping in the currently open Scrivener document. (Now updated for Scrivener 3.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.scrivener</string>
	<key>Extension Name</key>
	<string>Scrivener</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
