<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Translatium</string>
	<key>Extension Identifier</key>
	<string>com.translatium.extension</string>
	<key>Extension Description</key>
	<string>Open Translatium with the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>translatium://?text={popclip text}</string>
			<key>Image File</key>
			<string>translatium.png</string>
			<key>Title</key>
			<string>Translatium</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
		</dict>
	</array>
	<key>Apps</key>
 		<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.moderntranslator.app</string>
			</array>
            <key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://translatiumapp.com/</string>
			<key>Name</key>
			<string>Translatium</string>
		</dict>
	</array>
</dict>
</plist>