<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SADT9b4GVw6QurB7x4ApwG4vzSfdBCkCRyGZzdJb/lC0YwazyXtuSnCjOkKAQ8tOxUpz
	Lgq0IhEItpscVhPN008zxgHaztmt/DEeQCnGG26c47rFrSMuMfytvcNwuEvxDz25/k+a
	6OfbBMYd4Q3bCpffEz+K0krHkSYBBGrpPTc=
	</data>
</dict>
</plist>
