<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Shell Script File</key>
			<string>spin.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>Spin</string>		
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.test.spin</string>
	<key>Extension Name</key>
	<string>Test Spinner</string>
</dict>
</plist>
