<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>it.danilotorrisi.command-c-osx</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.danilo.to/command-c</string>
			<key>Name</key>
			<string>Command-C</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>cmd-c-iphone.applescript</string>
			<key>Title</key>
			<string>-&gt;iPhone</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send text to iPhone</string>
	<key>Extension Identifier</key>
	<string>com.rbfconsulting.popclip.extension.cmdciphone</string>
	<key>Extension Name</key>
	<string>-&gt;iPhone</string>
</dict>
</plist>
