<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>NotesNewNote.applescript</string>
			<key>Image File</key>
			<string>notepad.png</string>
			<key>Title</key>
			<string>New Note</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Make a new note in the Notes app. (The note is added in the first folder in the first account).</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.notes</string>
	<key>Extension Name</key>
	<string>Notes</string>
	<key>Required OS Version</key>
	<string>10.8</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
