<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bvIWB+7M/SKnqkrfW78IBcAG34Jqh8kLblXtwCT4j1F2Bt5zZI205bYLf0Q1cKP0ITox
	46W1zfBL705Kk2E1QL5208yjMathynvWl2kasCKhBWcNf9+nuha1HFQndEK6KoueXloL
	bGYavvhZbbDoxb+ZQAAYxbWaWjJ76viuyl8=
	</data>
</dict>
</plist>
