<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>switch.php</string>
			<key>Title</key>
			<string>&lt;&gt;</string>
			<key>Image File</key>
			<string></string>
			<key>Regular Expression</key>
			<string>^\s*[\w-]+?[\s,]+[\w-]+?\s*$</string>			
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Switch the order of the two selected words.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.switch-words</string>
	<key>Extension Name</key>
	<string>Switch Words</string>
</dict>
</plist>
