<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>deliveries.png</string>
			<key>Service Name</key>
			<string>Add to Deliveries</string>
			<key>Title</key>
			<string>Parcel</string>
			<key>Regular Expression</key>
			<string>(?i)\b(?=[A-Z0-9]*[0-9][A-Z0-9]*)[A-Z0-9]{5,}\b</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.junecloud.mac.Deliveries</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://junecloud.com/software/mac/deliveries.html</string>
			<key>Name</key>
			<string>Deliveries</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Track a package delivery using Deliveries.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.deliveries</string>
	<key>Extension Name</key>
	<string>Deliveries</string>
	<key>Required Software Version</key>
	<integer>1459</integer>
</dict>
</plist>
