<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>busycal.png</string>
			<key>URL</key>
			<string>busycalevent://new/{popclip text}</string>
			<key>Title</key>
			<string>BusyCal</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.busymac.busycal3</string>
			</array>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://www.busymac.com/busycal/</string>
			<key>Name</key>
			<string>BusyCal 3</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Use the text to create a calendar entry in BusyCal 3.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.busycal</string>
	<key>Extension Name</key>
	<string>BusyCal</string>
</dict>
</plist>
