<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	UUbWYvGGGhXkQ+Qo4BNZBazwbZOlMZsGqjHY/G2V/GdP9LijtFDeMwwS60sHZmWD6niQ
	tiDHxC1li8B6c6lHQ1gc1IksUBBOkwB34wk141p2NCekSz6UoKNUxY0PlnHmojgwZZAf
	9DVg0a7lX8rcNZMKqByijJ0vHbik9RlY9Q0=
	</data>
</dict>
</plist>
