<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cKdKWl/96WrlU7ewvNpz/po15bqiY0aERSKPr+HLQpFG208WibNbpe+EDe5QqodAe5lM
	MSjq+uia9Nvj35MbPzJbEW7LNR32WvJEoh0ZQGPtDNXDpSREnc1XY3CjJ6pbW+dhYMWE
	8rr7X6iHTKwg8JBxUNSQq+nszg7a7sIjFU8=
	</data>
</dict>
</plist>
