<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dSrwynWn6+4o0Y/lfANE7Vwn1vB7ZsGdLfHkq7Y5E1bqwb/5d6X8lTggzzJZnX0q7pQS
	hqE5XMb6Wa1LxdLMFcpLMjsTO5WzlAqPZ1u0J1EgkdmwH+u8vLp17PdyCW2v/a0MWETA
	K0E+66KdImlHaVSzoDUlFhqFjrqxbWX+BPs=
	</data>
</dict>
</plist>
