<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vu8ZoXtBQgs0fRilJLNbaKmlWNIqhx+wHyYTQ7j22iUZuGmyH4BNESZVT2rE008WvIff
	mWHL6lOdrCc+OBkMvoFdOpddXtLLPqwxMfXSLNvOCQf9Zop6aGW3IZ0JT2R7gcFftc1Q
	Yve1edwjlnCREEFrZhWazpptdIKH08hANxc=
	</data>
</dict>
</plist>
