<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>OmniFocusAddInboxTask.applescript</string>
			<key>Image File</key>
			<string>omnitick.png</string>
			<key>Title</key>
			<string>OmniFocus</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.omnigroup.com/products/omnifocus/</string>
			<key>Name</key>
			<string>OmniFocus</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Marc Abramowitz</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new task in OmniFocus. (Supports OmniFocus 1 and OmniFocus 2 Pro.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.omnifocus</string>
	<key>Extension Name</key>
	<string>OmniFocus</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
