<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Shell Script File</key>
			<string>sha-256.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>SHA-256</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://alenpuzic.com</string>
			<key>Name</key>
			<string>Alen Puzic</string>
		</dict>
	</array>
	<key>Extension Name</key>
    <string>SHA-256</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Description</key>
	<string>Produce a SHA-256 hash from the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.alenpuzic.popclip.extension.sha256</string>
</dict>
</plist>
