<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	R/8C2aS+4nOoHkG7t9zjjeLMo3Yp20rWOHC7DlGV+I33u5EEL61KatcPJGzkxQGUx0ii
	1XQXYOmvDZxadiO2hjVHsIt32Q1gaU0eOZlGMhgrEIxMTRZIHna0qK+ARv1XnGlTEwgw
	BN6oWEgRSEjf4yAoYqYXwpuzyzuOdYS53CU=
	</data>
</dict>
</plist>
