<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Tweetbot</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.tweetbot</string>
	<key>Extension Description</key>
	<string>Compose a new tweet using Tweetbot. (Now updated to support Tweetbot 3.)</string>
	<key>Apps</key>
	<array>
		<dict>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://tapbots.com/tweetbot/mac/</string>
			<key>Name</key>
			<string>Tweetbot</string>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.tapbots.TweetbotMac</string>
				<string>com.tapbots.Tweetbot3Mac</string>
			</array>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>botduck.png</string>
			<key>URL</key>
			<string>tweetbot:///post?text={popclip text}</string>
			<key>Title</key>
			<string>TweetBot</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,195}$</string>
		</dict>
	</array>
</dict>
</plist>
