<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	e7vInQ4mAiuRcF9gMu0RvLAFQCHCxNDEOqiSVLkb9yGPE249EqBrA3fxIbDUDjYQbQXh
	6xeWGtUK0nodvTOtrjjkmX6fGdWYQ5mq05p2nLwnECSO88h6upkT7xk/ntjs96NInJOJ
	x73oK0jyqFU/yzUe5WGynMIJ0ln9vEqPilE=
	</data>
</dict>
</plist>
