<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BB2/UcxVO1G2aiS7tH3cEiQMBbYEaSl0dq9Rp/+RExCiaG2WrzdufkoX+upYEk9oLoN6
	qcq1paaqtGhcoqW/3bOLrD+HbaTIvN+adeqaOSkjoiJZ8KQIHJ8E3wSMmP8LwLIeX7Ax
	bDOGC1D0s3RncnqP01H5trHXAn4qsi252Cc=
	</data>
</dict>
</plist>
