<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>contact.png</string>
			<key>URL</key>
			<string>busycontacts://new/{popclip text}</string>
			<key>Title</key>
			<string>BusyContacts</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.busymac.busycontacts</string>
				<string>com.busymac.busycontacts-setapp</string>
			</array>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.busycal.com/busycontacts/</string>
			<key>Name</key>
			<string>BusyContacts</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new contact in BusyContacts.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.busycontacts</string>
	<key>Extension Name</key>
	<string>BusyContacts</string>
</dict>
</plist>
