<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Dash.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,160}$</string>
			<key>Shell Script File</key>
			<string>dash.sh</string>
			<key>Title</key>
			<string>Dash</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.kapeli.dash</string>
				<string>com.kapeli.dashdoc</string>
				<string>com.kapeli.dashbeta</string>
				<string>com.kapeli.dash-setapp</string>
			</array>
            		<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://kapeli.com/dash</string>
			<key>Name</key>
			<string>Dash</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search developer documentation using Dash.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.dash</string>
	<key>Extension Name</key>
	<string>Dash</string>
</dict>
</plist>
