<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	bgv/JOZCuLMibQMbt6fEBDZiHbcVs0hz8LC2qwzigR490SKi9LuhDLk05CEwTqjSsfZK
	a1Uchqy7+Juqqe4OPV+6jH/hFs8lccin0Mn+rVwHV7pp+CuLwkICQv9ZxPagYEJPYHFK
	WxgWC0G/Rd6T1zMccYIKcYlPxG1M/0QVE1Y=
	</data>
</dict>
</plist>
