<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	iqgPMVH+qcQUBMoYae94GjbXOtpl64T98rJ1J9KLIfgPlU3FTVunnUrGwlmie9kPukdR
	7VoGtw5Y3F5Zk0tEp5n+Li+AFZSWhO817kqKaFMg6PoIVPHJKcfC+mxHOkHGZPS8FaI7
	g3AMZwTCnhya1pp7usa6deFnlKnqWjKuSXM=
	</data>
</dict>
</plist>
