<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>diary.png</string>
			<key>Shell Script File</key>
			<string>hash_md5.rb</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/ruby</string>
			<key>Title</key>
			<string>HashMD5</string>
			<key>After</key>
			<string>copy-result</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Copies the MD5 hash value of the selected text to the clipboard.</string>
	<key>Extension Identifier</key>
	<string>com.joshbuhler.popclip.extension.hashmd5</string>
	<key>Extension Name</key>
	<string>HashMD5</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
