<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>slug.png</string>
			<key>Script Interpreter</key>
			<string>/bin/bash</string>
			<key>Shell Script File</key>
			<string>slugify.sh</string>
			<key>Title</key>
			<string>Slugify</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replace spaces between words with hyphens, remove anything that is not a letter or number, and downcase.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.slugify</string>
	<key>Extension Name</key>
	<string>Slugify</string>
</dict>
</plist>
