<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.co.uk/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>aarrow.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Amazon</string>
			<key>URL</key>
			<string>http://www.amazon.co.uk/s?field-keywords={popclip text}</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.amazon.co.uk</string>
	<key>Extension Name</key>
	<string>Amazon.co.uk</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
