<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	s4xEeJ1OvcQDDieyCw1FyrsWhZS4QwW0t7ShSoyHNydFNgp9F8MG6+/pnpyanXsSYGkZ
	Cly12FIJHaM17XiEltCCIlVNBptnhFmCb1IRZdlc3puogzNxM5OZRnmLtFF8LOXofyXh
	mTMqwzH0pVZFhtF4veoO2iM3cppmUy8Qdys=
	</data>
</dict>
</plist>
