<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vwx7Ryx003vd8qoCzWlI326vGjphQoKqvl6W/UTyk5WJJtr6rILLcwGywiwPAFHrmlDB
	6Py6fXUwaAVnrqwrN38OkqRfx6IGLRKglZtI85UuvWjL6gj7pECB1H11el8QDwD5QMo6
	Q9fXU0YrHlPxvTrzLDwnsp3Z/e0bWvwavjg=
	</data>
</dict>
</plist>
