<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>sifynew.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Shell Script File</key>
			<string>spotify.sh</string>
			<key>Title</key>
			<string>Spotify</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.spotify.client</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.spotify.com/</string>
			<key>Name</key>
			<string>Spotify</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for music on Spotify.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.spotify-search</string>
	<key>Extension Name</key>
	<string>Spotify</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
