<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
            <key>After</key>
            <string>paste-result</string>
			<key>Regular Expression</key>
			<string>(?i)^(datetime|dt|date|time)$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>datetime.php</string>
			<key>Title</key>
			<string>Date</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the selected text with online dictionary. Supports dictionary.com, youdao.com,dict.cn</string>
	<key>Extension Name</key>
	<string>Date</string>
    <key>Credits</key>
    <array>
        <dict>
            <key>Link</key>
            <string>http://blog.tsnrose.com</string>
            <key>Name</key>
            <string>zhiyelee</string>
        </dict>
    </array>
    <key>Extension Identifier</key>
    <string>com.tsnrose.blog.popclip.extension.Date</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>date</string>
			<key>Option Label</key>
			<string>select date type</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>Y-m-d(2013-05-04)</string>
				<string>Y/m/d(2013/05/04)</string>
				<string>Ymd(20130504)</string>
				<string>D/M/Y(4/5/2013)</string>
			</array>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>time</string>
			<key>Option Label</key>
			<string>select time type</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>H:i:s(12:15:01)</string>
				<string>H:i(12:15)</string>
			</array>
		</dict>
	</array>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
