<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	T7Z2ClSVpv+Zu0zxvSm3rGleyEI31G/lgVGWnif3fRYdQdT6y1kt15Ii/3lmB3rRG3Kt
	LlnCsm3MzQqQBwZEttLuKZHcBrMIiJeRgX3Tcn7Aq3wiFebHPyLH5mnP6v1HG8KQj8mQ
	sZBIQfUHcOeN1BfO+sZrUvrgfAcdcxKvgMo=
	</data>
</dict>
</plist>
