<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ACTXlgEbiwNo7gcO12B+vL+7EhtJ+jNDaTBUODOH8rfD4+ORo/1+qztDEJY4CsD+JnLp
	g41KtTOcEEGyHzQJFYSGyNt3OCSDiEVMt+QEcNyImk70YjWCj+iHgJvljZlcP45e5Vfx
	QVzWKoEUtSoaE+j0NpVhsvK6936TCiNqrTg=
	</data>
</dict>
</plist>
