<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FqFXv3N0a5Nwwp31SiCAicwUPdrcwKZ4eKixvoP9Vqkmnnr5lBiSvSmrVroZJ8HJipns
	6y/sOS29wKtfxs7GxdnU18XAS/X9rcyqEA6/1ni0bIteWL0tyr8xOF1Z9NpCimx12OM1
	vbSiE2axeniZxBRPs5fgfUxFtWVmgNNZxK8=
	</data>
</dict>
</plist>
