<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Delete</string>
		<key>fr</key>
		<string>Supprimer</string>
	</dict>
	<key>Extension Description</key>
	<string>Delete the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.delete</string>
	<key>Extension Image File</key>
	<string>delete.png</string>
	<key>Position</key>
	<real>1.1</real>
	<key>Actions</key>
	<array>
		<dict>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Regular Expression</key>
			<string>(?s)^$</string>
			<key>Stay Visible</key>
			<true/>
			<key>Title</key>
			<string>⌫</string>
			<key>Key Combo</key>
			<dict>
				<key>keyCode</key>
				<integer>51</integer>
				<key>modifiers</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Requirements</key>
			<array>
				<string>cut</string>
			</array>
			<key>Title</key>
			<string>⌫</string>
			<key>Key Combo</key>
			<dict>
				<key>keyCode</key>
				<integer>51</integer>
				<key>modifiers</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
