<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
		<string>Accordance</string>
	<key>Extension Description</key>
		<string>Copy selected text from Accordance formatted the way you need.</string>
	<key>Extension Identifier</key>
		<string>com.saunders.accordance.extension</string>
	<key>Version</key>
		<real>0.1</real>
	<key>Required Apps</key>
		<array>
			<string>com.OakTree.Accordance</string>
		</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
				<string>Copy Citation</string>
			<key>Requirements</key>
				<string>copy</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
					<string>C</string>
				<key>modifiers</key>
					<integer>1310720</integer>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
				<string>Copy w/o Superscript</string>
			<key>Requirements</key>
				<string>copy</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
					<string>C</string>
				<key>modifiers</key>
					<integer>1572864</integer>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
				<string>com.OakTree.Accordance</string>
			<key>Check Installed</key>
				<true/>
			<key>Link</key>
				<string>http://accordancebible.com/</string>
			<key>Name</key>
				<string>Accordance Bible Software</string>
		</dict>
	</array>
</dict>
</plist>
