<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vp8+3rwfevhc0A94n9DwjXQlpyBmFJ1unZ4sbPZHJ4+khhWpxGa8LMRCaDvs9nrR6aq8
	3URYJ9OAUkVV5zr4QvOSwwTh82QuGI12nGAa9LkloJNy/1a97jaVETpUtmM2XfASzvSz
	TrAMPKuKWbh8Zhp1mhCOqHCDs+PttPe9kdg=
	</data>
</dict>
</plist>
