<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	lYnjy6H2M1sReRaQeUUwXdk3XVPDDP6FhvZPwKQdLWs6SxShTvaKbBbaQ+lmswMcidB7
	6Lqzy5wtbSvFg5tEYDZMN61OhF+BOqg8bLAA/criIz6EdAzkJ4IFArUxCngAcln5cYvN
	CXR9/5zYnqqZJIi7+WjF+fblnW+WUb9T5AQ=
	</data>
</dict>
</plist>
