<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Make each word start with a capital letter, with other letters lowercase.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.capitalize</string>
	<key>Extension Name</key>
	<string>Capitalize</string>
	<key>Extension Image File</key>
	<string>capitalize.png</string>
	<key>Required Software Version</key>
	<integer>3458</integer>
</dict>
</plist>
