<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Image File</key>
			<string>scales.png</string>
			<key>Regular Expression</key>
			<string>(?i)^\s*(\d+(?:[\.,]\d+)?)\s?(?:(?:pounds?|lbs?)|(?:ounces?|oz)|(?:centimetres?|centimeters?|cm)|(?:inches|inch|ins?|")|(?:feet|foot|ft|')|(?:yards?|yds?)|(?:miles?|mi)|(?:kilometres?|kilometers?|km?)|(?:kilograms?|kilos?|kg)|(?:grams?|g)|(?:metres?|meters?|m)|(?:°?F|(?:degrees?\s)?fahrenheit)|(?:°?C|(?:degrees?\s)?celsius|(?:degrees?\s)?centigrade))\s*$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>convert.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Convert</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert between values in metric and US/imperial units. Supports lb↔kg, oz↔g, miles↔km, feet/yards↔m, inches↔cm, °F↔°C. (Updated 20 Oct 2020 to fix bug about 'Use of undefined constant'.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.convert</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Convert</string>
	</dict>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
