<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	P0P207P6l85Ov4ZDczSPcbKLa06p+EMJsmZ6TpDCXyub9GXybfOOI4kazbdmSoX9g5v2
	tuQs8XZZjzYibTiVNB7Db7fo2bJhq5UO4xusDtknQkj8KccjSPLobAi8PB6K+UfVBUha
	PbONqLyygdach1dPm9Flhr4El79Slgibu5Y=
	</data>
</dict>
</plist>
