<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	eFpwQJ8eR3namkUsLukwCjg4c/yfWOcYgNgTibRffClGriqE8YbqDzD8EKrqiTx5WRmv
	yYhlUPxWwpT6uROSmxr2+gMtQ9lTa9lpxvFzy3w35Gxzz6boLW6geq7VcWSuZBWJYLYd
	16NQ460VvNKoVY9Obsb5k+zMat2SnUL3txs=
	</data>
</dict>
</plist>
