<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	nKOuuJmDR2ob2ODp9fqcY0/g28ky9/BJMMvk0nAP3hdh7HzazIPj8jrQ0qDxMYAVXi4N
	XIVSf4KO29zKz46FQMnFtoP7SKWfEFCvc3BpRG+Mu9FuhKI3vxxsssXk79630D6/xN76
	poofnPds4CZlf9cFl8f47r+Bv97hjosn9Wk=
	</data>
</dict>
</plist>
