<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	MVhiXDgFMjPeCu5is60fYBISoUFBHNSIj7N9TszoqO/l+9j+3UeXHK706rg3wDktp6S0
	DsRhs7LvZlZhL3qwUYNNnsxzSW1kG3HJPSVhc6AB0qbiT09uc45mKIEPrSNrx0v4swo+
	KD2A4BHzgrnLpgAQtTJFlyPNG6SRHLB6DHs=
	</data>
</dict>
</plist>
