<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	nl2jcB+nv4SLtleTiE7lEVvWyLMkM9FDhjcvTvzyPTIYYKYOO324TS1pL2QAp8CavKs+
	uPBm4146ozO9hj3orIvLOz8diCze93LhyggDDHaAAm+kcNebxwif7XtMO5srf6qiRmVf
	tlnZXcAdKxBxUPxPY/TLlZ0+/odiV9cZu4w=
	</data>
</dict>
</plist>
