<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Image File</key>
			<string></string>
			<key>Regular Expression</key>
			<string>(?i)^\d\d\d\d\d+$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>unixtime.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>UnixTime</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Unix timestamp to formatted date string.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.unixtime</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Unix Time</string>
	</dict>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
