<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Image File</key>
			<string>UnixTime.png</string>
			<key>Regular Expression</key>
			<string>\d[ \d]{3,15}\d</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>unixtime.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Unix Time</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert Unix time (in seconds since 01-01-1970) to UTC.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.unix-time</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Unix Time</string>
	</dict>
</dict>
</plist>
