<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	oLxw5v8lT4rttz4tgGCR4/YkDUW5p3Ij5oJW+d8Odlaq8KgOFA2qU/JTz7sMIpA2MTnk
	FWxK1V1dBIyW3ynVD6Hr+OYybP2uIFGyBZN6q2jywYB/4mtUT/Zh8KFcmrwbNzektrfl
	Wc+W7K2EM2pxr8bMAqGCDHWQnIFtzzROQrA=
	</data>
</dict>
</plist>
