<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ZK/tWW1MosYvLdxLKMyrruu2zyVKxdpObMA7VyyHXfgzvPg6gZ6Ncmim4himBTxnbLJP
	qIDsZj03otzonQb3Y0GiPuzFWnqY8MI+YUrHToablLvgxIwkZ4JKVJAdF8BkJO5L4Cl0
	ln4CmJNjL8eK2++HR1YziCKQ/RSPY5nK3Sg=
	</data>
</dict>
</plist>
