<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>coffeescript.png</string>
			<key>Long Running</key>
			<false/>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/local/bin/node</string>
			<key>Shell Script File</key>
			<string>compile.js</string>
			<key>Title</key>
			<string>Coffee</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert Coffee Script text to JS.</string>
	<key>Extension Identifier</key>
	<string>com.vfasky.popclip.extension.coffeescript</string>
	<key>Extension Name</key>
	<string>CoffeeScript</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
