<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CyARVMleM5DnS13zsVYmcYlBzoz0nV3Xow4pSVnALisQ6U2cS2Jfn+VctLFi3I13k1nS
	w/TB3lAGUkzCo84SyoQhXdv+c2SehcYf7eZIDt/vTq8ipvIRhSKywA7ktDpnPOUGp/ws
	J5B79lUVyt7n6RwNUAZGu81fZfcPST9cbw0=
	</data>
</dict>
</plist>
