<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JSV3lIvou8KAwJzyrY3++hII9fXsXHvufej7vds5gIusNtvQqUr1Lkz4SUur3HAYU3or
	t10vLtzriE80LXGRD8yZl1H1Jh+6cgj61Q6LrpsC4YHuFDDbGmEgNnxgjYOxsPPTpJX0
	b3sXSo6LMB+YLJ+lGBeahUDxFZHpRZFqjDY=
	</data>
</dict>
</plist>
