<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	IwgqBY4WLomXaOf7GQ7aKbj5WvKdTyZDKl3B2fBGBQyrZcpSJg8nuk20z1L56wQHR4hb
	pmiGljsfbRBLiPgTupAOOtbhe6p2oVliKm9Puh4lAnEImURRC8Ty0MXSzv4Gm9w0T4KB
	lfldXoPcbNmbLxF42MslXcZw27k2C1vwKv0=
	</data>
</dict>
</plist>
