<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>shortlink.png</string>
			<key>Long Running</key>
			<true/>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>bitlyShorten.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Bitly Shorten</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://bitly.com/</string>
			<key>Name</key>
			<string>Bitly</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Shorten the selected URL using Bitly.</string>
	</dict>
	<key>Note</key>
    <string>Not yet compatible with macOS 12.0 Beta.&lt;a href=&quot;/blog/2021/09/15/popclip-macos-monterey&quot;&gt;(More info)&lt;/a&gt;</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.bitly</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Bitly</string>
	</dict>
	<key>Options Script File</key>
	<string>bitlyAuth.php</string>
	<key>Options Script Interpreter</key>
	<string>/usr/bin/php</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
