<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Find In Page</string>
	</dict>
	<key>Extension Description</key>
	<string>Delete the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.find-in-page</string>
	<key>Extension Image File</key>
	<string></string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Find</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
			</dict>
			<key>Before</key>
			<string>copy</string>
			<key>After</key>
			<string>paste</string>
		</dict>
	</array>
</dict>
</plist>
