<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	J8nsGpIG9XIl9D/NHD5OaFLUOa8NGB98JlbQOaz3ucTUBQ474D66IA9R0rw/Uo0V3eIG
	HxrLT49mMMMJPlLiRqg33MydA5Kw/E20dVYU9/Ks0Z16C9i5laHEcvk3uWS6TsldVTv4
	8bqg81D57Sppw8VN9X1m2rDittmcVWim2R4=
	</data>
</dict>
</plist>
