<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	DBMMO4GGKGknPTKcc54VZSAud3pvutBfiDvCjO6EsqiSjQsDLwSdKEDbKDKSFzBX3Snc
	M3E8jym2doflFQWJcp17d/DH61dVTbDDpj8Zqg2vAAY6cPc2Clim2uoPRU76sTlcBzfV
	cHuKMTLkkgxWm8AY5j5cjH3Vpz/Q2i5tw/Q=
	</data>
</dict>
</plist>
