<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string></string>
			<key>Regular Expression</key>
			<string>(?s)^(.+)[\r\n](.+)$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>shuffle.php</string>
			<key>Title</key>
			<string>Shuffle</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Randomize the order of the selected lines.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.shuffle</string>
	<key>Extension Name</key>
	<string>Shuffle</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
