<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HjJbxdjJ1jFxV0ZdZUlKSyHdHig0kcHqStwgMShxUrnzcyrO2h5HamGxDaTq2qut0Ks1
	0hAN3wL2nRf1Q24o9S3W70KGoI07Ib+5MPeOq0BfdlYCby9LojbilIS8bYzz2xuL+8+7
	v82DYqR6iLQ9wArcLtHI05w7ha2u0h+gxJU=
	</data>
</dict>
</plist>
