<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	knu4aUPnm1Hkj5ZZfPErhZW6P8je5C5L+uJ1ZzH9Vf6ZK2IwTD0uoIligrVqaQpmze09
	cwCpHy3ag/3fRFTPTnxeNADYMIdPPdmVFWq1TboAYbyQthoDxu+/eos+yo49+mPLiy9K
	OIfvCIE7KPQlIG/tZA1QwfR+AcV/IyaX5tU=
	</data>
</dict>
</plist>
