<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Pass HTML</key>
			<true/>
			<key>Restore Pasteboard</key>
			<true/>
			<key>Shell Script File</key>
			<string>testsh.sh</string>
			<key>Stoppable</key>
			<false/>
			<key>Title</key>
			<string>TestShell</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Test shell scripts.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.test.shell-general</string>
	<key>Extension Name</key>
	<string>Test Shell General</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
