<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>12ft.png</string>
			<key>Title</key>
			<string>12ft Ladder</string>
			<key>URL</key>
			<string>https://12ft.io/proxy?q={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Show me a 10ft paywall, I’ll show you a 12ft ladder.</string>
	<key>Extension Identifier</key>
	<string>io.12ft.popclip</string>
	<key>Extension Image File</key>
	<string>12ft.png</string>
	<key>Extension Name</key>
	<string>12ft Ladder</string>
</dict>
</plist>
