<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>fb.png</string>
			<key>Shell Script File</key>
			<string>fb.sh</string>
			<key>Title</key>
			<string>Facebook</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Compose a new Facebook post.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.facebook-osx</string>
	<key>Extension Name</key>
	<string>Facebook</string>
	<key>Required OS Version</key>
	<string>10.8</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
