<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	YUX5vlQSyKIlfxEsZehhoTUZG60y3yYr9zEKYodd/Ds2fO2yli26orwu5pFm2slC8L+P
	by93GTN5tEDrdLPg4axu9AMPeECbXRAVDz9Xn0fGnzVjbatk42fWMmp4Dg79BIF+Oi9J
	fPf3gmzEwJHr1fWxG9Sf8nsxoPU3d5QdZT4=
	</data>
</dict>
</plist>
