<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>ComposeTweet.applescript</string>
			<key>Image File</key>
			<string>newtwitterbird.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,195}$</string>
			<key>Title</key>
			<string>Tweet</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Compose a tweet using Notification Center's "Click to Tweet" box.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.tweet</string>
	<key>Extension Name</key>
	<string>Tweet</string>
	<key>Required OS Version</key>
	<string>10.8</string>
</dict>
</plist>
