<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	MzfTuxq9dtribbLdNaATGakCVdYCUccJvJiDvybzhbsjvCEPYQcri7FUbSeZTbiTaH1n
	LLbFdYlxbZE0SyRmnPhyv193zZQakKpD8agL1jpm5QBki482hRMB9K2jbJ+MAJr5HSzL
	KLnIjNojyQ4hbgkUue+/eBqOCF4IcGCohYw=
	</data>
</dict>
</plist>
