<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	op5HvIoQ7ebsREXg6SYvygZKCWM2Fy599cieWKnQjedDjhcGdQgUzW9p1hGEpVtWb6Mj
	oYQiwlvpuDr56nzZo1bqYQBmFWP6ux688+w+6y1oD5sa9tmc1QD8hsFLKSetiHoK61n6
	NLOkZphwwMva8k96fuwxC7G6Cik9UzuUqBU=
	</data>
</dict>
</plist>
