<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-status</string>
			<key>Image File</key>
			<string>pinboard.png</string>
			<key>Long Running</key>
			<true/>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>pinboardAdd.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Pinboard</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://pinboard.in/</string>
			<key>Name</key>
			<string>Pinboard</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Bookmark the URL using Pinboard.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.pinboard</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Pinboard</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>username</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Username</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>password</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Password</string>
			</dict>
			<key>Option Type</key>
			<string>password</string>
		</dict>
	</array>
	<key>Options Script File</key>
	<string>pinboardAuth.php</string>
	<key>Options Script Interpreter</key>
	<string>/usr/bin/php</string>
	<key>Required Software Version</key>
	<integer>714</integer>
</dict>
</plist>
