<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-status</string>
			<key>Image File</key>
			<string>readwise.png</string>
			<key>Long Running</key>
			<true/>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>readwiseAdd.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Readwise</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://readwise.io/</string>
			<key>Name</key>
			<string>Readwise</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Save selected text as highlight in Readwise.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.readwise</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Readwise</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>accesstoken</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Access Token</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
	</array>
  <key>Options Title</key>
  <string>Get token from readwise.io/access_token</string>
	<key>Required Software Version</key>
	<integer>714</integer>
</dict>
</plist>
