<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://www.whois.com/whois/{popclip text}</string>
			<key>Title</key>
			<string>Whois</string>
			<key>Regular Expression</key>
			<string>(?s)^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://alenpuzic.com</string>
			<key>Name</key>
			<string>Alen Puzic</string>
		</dict>
	</array>
	<key>Extension Name</key>
    <string>Whois</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Description</key>
	<string>Lookup Whois information for a selected domain name.</string>
	<key>Extension Identifier</key>
	<string>com.alenpuzic.popclip.extension.whois</string>
</dict>
</plist>
