<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Ef4/n9LRbnKpNRz3ESnu8wIjYzA+EwgoqY8dXy9piD9CEyMlykoNTQLfp/1XCPX0/OBn
	rZWFEwvTrNKiBFwzGXGVqTowcR7AeoJldNahcthnAvajakE1cLfJi+WKPbTjoiBWOOAg
	2ZsUjeFmlKAB2tO4/6KKcBiN59yKNN+ZtOY=
	</data>
</dict>
</plist>
