<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GpFBAS7zpqvaTrJr9J9jM799KHjSmFpPfaIr3aEVkDDacG19k+Re+oE1W8MZOzVMGW1X
	7K1TkvI+7HvgmaI18Uh1p3svtyrJqkzNVlRyf1bCJYbA5azrxKcLWe0Mi5dr4vh4RSM/
	dATr6+fh8tHEa7ZwlmyP0hRbVPp2kk/CQxQ=
	</data>
</dict>
</plist>
