<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>eudic.applescript</string>
			<key>Image File</key>
			<string>eudic.png</string>
			<key>Title</key>
			<string>Search In Eudic</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
		    <key>Option Identifier</key>
			<string>eudic_version</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>EuDic Version</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>com.eusoft.freeeudic</string>
				<string>com.eusoft.eudic</string>
			</array>		
			<key>Option Description</key>
			<string></string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Look up the selected text in Eudic, the Chinese-English dictionary.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon1.popclip.extension.eudic</string>
	<key>Extension Name</key>
	<string>Eudic</string>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<array>
				<string>com.eusoft.freeeudic</string>
				<string>com.eusoft.eudic</string>				
			</array>			
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>http://www.eudic.net/eudic/mac_dictionary.aspx</string>
			<key>Name</key>
			<string>Eudic</string>
		</dict>
	</array>
</dict>
</plist>
