<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>digits.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>digits.php</string>
			<key>Title</key>
			<string>digits</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Make the selected text only digits.</string>
	<key>Extension Identifier</key>
	<string>co.therapi.popclip.extension.digits</string>
	<key>Extension Name</key>
	<string>Digits</string>
</dict>
</plist>
