<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-selection</string>
			<key>Before</key>
			<string>paste-plain</string>
			<key>Shell Script File</key>
			<string>null.sh</string>
			<key>Title</key>
			<string>Swap</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Swap clipboard with selection. Formatting is removed.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.swap</string>
	<key>Extension Name</key>
	<string>Swap</string>
	<key>Required Software Version</key>
	<integer>693</integer>
	<key>Requirements</key>
	<array>
		<string>paste</string>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
