<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KG3Yl+nvmOqrv+i0XqUSqUs2QlnAdSs8nMZEgPpkw29W0OX6502NfM1wHNjR7oQ20On9
	2Z9/utlg8XccnfSFvXj8IsGPk4qcNBnF4w+0NzwBv0FDlUp16nk7Y+v2E2ztG2cdtLam
	bJ8VwYzIJ10+i7xm/9EVrQAl63CqTCCn7ck=
	</data>
</dict>
</plist>
