<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>FindAnyFile1.png</string>
			<key>Regular Expression</key>
			<string>(?s)^[^\n\r]{1,100}$</string>
			<key>URL</key>
			<!--<string>fafapp://find/?tpl={popclip option faf_template}&amp;inp={popclip text}</string>-->
			<string>fafapp://find/?inp={popclip text}</string>
			<key>Title</key>
			<string>Find this file name with FAF</string>
		</dict>
		<dict>
			<key>Image File</key>
			<string>FindAnyFile2.png</string>
			<key>Requirements</key>
			<array>
				<string>path</string>
			</array>
			<key>URL</key>
			<!--<string>fafapp://find/?tpl={popclip option faf_template}&amp;loc={popclip text}</string>-->
			<string>fafapp://find/?loc={popclip text}</string>
			<key>Title</key>
			<string>Search here with FAF</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>org.tempel.findanyfile</string>
			</array>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://findanyfile.app/</string>
			<key>Name</key>
			<string>Find Any File</string>
		</dict>
	</array>
	<!--
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>faf_template</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Label</key>
			<string>Template Name (optional)</string>
		</dict>
	</array>
	-->
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://apps.tempel.org/</string>
			<key>Name</key>
			<string>Thomas Tempelmann</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>de</key>
		<string>Startet eine Suche in Find Any File.</string>
		<key>en</key>
		<string>Searches for files with Find Any File.</string>
		<key>fr</key>
		<string>Lance une recherche Find Any File.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>org.tempel.pilotmoon.popclip.extension.FindAnyFile</string>
	<key>Extension Name</key>
	<string>FindAnyFile</string>
</dict>
</plist>
