<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	eSOJU5r/CHUbNS2R8cEo8+kZIF++UZ4mhDTyeoR9t2kLiIDTr57ENbDUi9JUo1SOSGne
	TjsFsdeWlASUPK6Gz8vza8TqhkRgic0lC3z8VTd7swwAhwhh0gb636OZJoysH+J0DFjc
	+N4oadzvs3dtlRAlwf+eU5abVOfLGj5nS7Q=
	</data>
</dict>
</plist>
