<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EqNZtDH2ie/eqUmDMY9R+1f3Ul5xXHMotjmpjqbTAy07Wvw/DMxJX5FELo7s0H6L95HL
	cxPUgaxuC6atGsTsm7CT6Tn1zQEKJo694IV9Fl2t/ZD3le6Xq890rynqVvpXGwaCDpS0
	3oTUMmOdybmWqrbimIlpIcPKw9XAQFFjaoA=
	</data>
</dict>
</plist>
