<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>raindropio-logo.svg</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>			
			<key>Title</key>
			<string>Raindrop</string>
			<key>URL</key>
			<string>https://app.raindrop.io/add?link={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://raindrop.io/</string>
			<key>Name</key>
			<string>Raindrop.io</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Add a URL as bookmark in Raindrop.io.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.miller.popclip.extension.raindrop</string>
	<key>Extension Name</key>
	<string>Raindrop.io</string>
	<key>Required Software Version</key>
	<integer>3510</integer>
</dict>
</plist>
