<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Goodreads</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.goodreads</string>
	<key>Extension Description</key>
	<string>Open Goodreads in a web browser with the selected text.</string>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://www.goodreads.com/</string>
			<key>Name</key>
			<string>GitHub</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://www.goodreads.com/search?q={popclip text}</string>
			<key>Image File</key>
			<string>goodreads.png</string>
			<key>Title</key>
			<string>Goodreads</string>
		</dict>
	</array>
</dict>
</plist>
