<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JaI05vCRQbuRwPz3emWrBz9FHOaYnVmToky/4lCQePir18/4lXcqJ5E7cbHgxFGlOB7i
	vtFN+GRNIRqFa7RSEZgV706B+/W/Xtx1URKdKYhuZLgwy6jiLwO1CHfZmfKI9VzTc3i/
	OvuLS5LNb0CnwjSqHSIezu/+8CwvL9X5rR8=
	</data>
</dict>
</plist>
