<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KGDgE9RqoIEr0JfMnJXn+HWGgjaA4SNJntNQhDbhdaipb+FWDmzqh7L+gmp6zM2eHB95
	ZXlYrZMbB0qL7+5FvTF9YZGxzfg3vRjWL/f1peM2W6LLJ3acLKL/ORgXg+lW+2grOOih
	z+0oN5ZqlXB3gBcEa5l/u4/lTBZvBd6/uKk=
	</data>
</dict>
</plist>
