<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>blogo.php</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Image File</key>
			<string>blogo.png</string>
			<key>Title</key>
			<string>Blogo</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.blogo.Blogo</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://getblogo.com/</string>
			<key>Name</key>
			<string>Blogo</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the text as a quotation to Blogo, the blog post composer.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.blogo</string>
	<key>Extension Name</key>
	<string>Blogo</string>
	<key>Required Software Version</key>
	<integer>1712</integer>
</dict>
</plist>
