<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>diary.png</string>
			<key>Shell Script File</key>
			<string>dayone.sh</string>
			<key>Title</key>
			<string>Day One</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.dayoneapp.dayone</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://dayoneapp.com/</string>
			<key>Name</key>
			<string>Day One</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Make a journal entry using Day One.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.dayone</string>
	<key>Extension Name</key>
	<string>Day One</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
