<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>fcal.png</string>
			<key>Shell Script Name</key>
			<string>fantastical.sh</string>
			<key>Title</key>
			<string>Fantastical</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.flexibits.fantastical</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://flexibits.com/</string>
			<key>Name</key>
			<string>Fantastical</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Use the text to create a calendar entry in Fantastical.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.fantastical</string>
	<key>Extension Name</key>
	<string>Fantastical</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
