<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	kPqxodqIgILRcPMsNtrhjgJHENGOTHd1M+S+Cc8SvGRutPrCCFpXDZbR7czFdfdjf6KE
	h/qjEJ2F1FkFbMv6woq5K7WMtClzfIO+TW3bidj4c/zFT8m8ZAOMr5kAptO3GzQ6kROb
	3OTs2hTtpItJW8Q+20QETjzvQWTvrX24S6E=
	</data>
</dict>
</plist>
