<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Drafts.png</string>
			<key>Service Name</key>
			<string>Send to Drafts</string>
			<key>Title</key>
			<string>Send to Drafts</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Check Installed</key>
			<true/>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.agiletortoise.Drafts-OSX</string>
			</array>
			<key>Link</key>
			<string>http://www.downieapp.com/</string>
			<key>Name</key>
			<string>Downie</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the selected text to Drafts.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.drafts</string>
	<key>Extension Name</key>
	<string>Drafts</string>
</dict>
</plist>
