<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>brave.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurls</string>
			</array>
			<key>Shell Script File</key>
			<string>open-in-brave.sh</string>
			<key>Title</key>
			<string>Open in Brave</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Check Installed</key>
			<true/> 
			<key>Bundle Identifier</key>
			<string>com.brave.Browser</string>
			<key>Link</key>
			<string>https://brave.com/</string>
			<key>Name</key>
			<string>Brave</string>
		</dict>
	</array>
	<key>Blocked Apps</key>
	<array>
		<string>com.brave.Browser</string>
	</array>
	<key>Extension Description</key>
	<string>Open the link in Brave.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.open-in-brave</string>
	<key>Extension Name</key>
	<string>Open in Brave</string>	
</dict>
</plist>
