<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>YahooJapan.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
			<key>Title</key>
			<string>Yahoo! Japan</string>
			<key>URL</key>
			<string>https://search.yahoo.co.jp/search?p={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the web using Yahoo! Japan.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.yahoo-japan-search</string>
	<key>Extension Name</key>
	<string>Yahoo! Japan</string>
</dict>
</plist>
