<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vRV7ZtbtFK4GvaBLaKN8evTYqc4ELl04AfP8HewLl2dJkcnoXdAQZiVd0xwBZuHdhc8G
	a/gFWPkhaznwH9V39huNb4vBmtkdgSH/Gv8rv1rh54HpbrSWxX/93Ya82JjpnH2QVfPK
	GiBysZBIGeH6Zycb7a9/NksYguvsq7uhwGc=
	</data>
</dict>
</plist>
