<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-result</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>nih.php</string>
			<key>Title</key>
			<string>nih</string>
		</dict>
	</array>	
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.custom.nih</string>
	<key>Extension Name</key>
	<string>nih</string>
</dict>
</plist>
