<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FODBXS6CYQUynn9SeP6gAxMO2S7XAMcWPVygXxOhEn2rmxyWjBjHrmq4WlhlqJKYn7Ba
	kg9moGZxW/DXmRX9xJjsRw7B9tw2y3X1W1H19WG9MYEZkzTUz5PJYwYIlPA8wBFr7T1R
	ALNcoIzFBDNeZoAYCxTiwwndRcAsAI5ULPc=
	</data>
</dict>
</plist>
