<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-status</string>
			<key>Image File</key>
			<string>glasses.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Shell Script File</key>
			<string>readinglist.sh</string>
			<key>Title</key>
			<string>Reading List</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Save the URL to your Safari Reading List.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.safari-reading-list</string>
	<key>Extension Name</key>
	<string>Reading List</string>
	<key>Required OS Version</key>
	<string>10.8</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
