<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>GoodreadsIcon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Goodreads</string>
			<key>URL</key>
			<string>http://www.goodreads.com/search?utf8=&amp;query={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://goodreads.com</string>
			<key>Name</key>
			<string>Goodreads</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>mailto:snow.zjx@gmail.com</string>
			<key>Name</key>
			<string>Junxue Zhang</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for selected book using Goodreads</string>
	<key>Extension Identifier</key>
	<string>im.jacob.goodreads</string>
	<key>Extension Image File</key>
	<string>GoodreadsIcon.png</string>
	<key>Extension Name</key>
	<string>Goodreads</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
