<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>at.png</string>
			<key>Requirements</key>
			<array>
				<string>option-enable-at=1</string>
				<string>email</string>
			</array>
			<key>Title</key>
			<string>New mail to address</string>
			<key>URL</key>
			<string>mailto:{popclip text}</string>
		</dict>
		<dict>
			<key>Image File</key>
			<string>envelope.png</string>
			<key>Requirements</key>
			<array>
				<string>option-enable-body=1</string>
			</array>
			<key>Title</key>
			<string>New mail with text</string>
			<key>URL</key>
			<string>mailto:{popclip option default}?body={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new mail message with the selected "to:" address, or with the selected text, in the default mail client.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.generic-mail</string>
	<key>Extension Name</key>
	<string>Email</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>actions-heading</string>
			<key>Option Label</key>
			<string>Subactions</string>
			<key>Option Type</key>
			<string>heading</string>			
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>enable-at</string>
			<key>Option Label</key>
			<string>New mail to address</string>
			<key>Option Type</key>
			<string>boolean</string>
			<key>Option Icon</key>
			<string>at.png</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>enable-body</string>
			<key>Option Label</key>
			<string>New mail with text</string>
			<key>Option Type</key>
			<string>boolean</string>
			<key>Option Icon</key>
			<string>envelope.png</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>default</string>
			<key>Option Label</key>
			<string>Default Address</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Description</key>
			<string>The default "to:" address for new emails. (Or leave blank.)</string>
		</dict>
	</array>	
</dict>
</plist>
