<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>mail.applescript</string>
			<key>Image File</key>
			<string>envelopeicon.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>mail</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Compose new mail.</string>
	<key>Extension Identifier</key>
	<string>me.canor.mail</string>
	<key>Extension Name</key>
	<string>mail</string>
	<key>Required Software Version</key>
	<integer>2</integer>
</dict>
</plist>
