<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>envelopeicon.png</string>
			<key>Title</key>
			<string>Email</string>
			<key>URL</key>
			<string>mailto:?body={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new message in the default mail client (for example Mail, Sparrow or Postbox).</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.generic-mail</string>
	<key>Extension Name</key>
	<string>Email</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
