<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>Spotlight.applescript</string>
			<key>Image File</key>
			<string>spotlight.png</string>
			<key>Regular Expression</key>
			<string>(?s)^[^\n\r]{1,300}$</string>
			<key>Title</key>
			<string>Spotlight</string>
			<key>Before</key>
			<string>copy</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Activate Spotlight with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.spotlight</string>
	<key>Extension Name</key>
	<string>Spotlight</string>
	<key>Required OS Version</key>
	<string>10.7</string>
</dict>
</plist>
