<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	IMpRNLtOVIXpBMvJiUTpdNYJ+7aI/bXosMdLWwfA7ZpWQO8EZyI87JokF3/bUyeWmbSR
	QoesE+Sa4BNs/TL4Z32Bsr7LBAeInTeltFDrqDPra0i0pHdHMEv587FABxztgI5sSq1h
	eZhOHprC+JFfI93gMTu3jgdZu6t7D5QbQAc=
	</data>
</dict>
</plist>
