<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	W9cmQ/YAfkUdNuX0bkAaOZM/JH4Feaz6X1JCnu4gTTcOGUEld2C+e48bxmn4Qg7rlpCR
	P9SJ30LKXVNk5kNm2Ri/MhNdaIZb7JVFrtYNXtNWUVl1evAvgjjzvRotCLMvKzPOthI8
	31Me6l0vFXaCU4qwaUTa0d5VhgU6PbH9l+M=
	</data>
</dict>
</plist>
