<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cDHr+F9j3N69rqBB4sa+CQQus8/4xS8+nWJnqYIHRrIvOobQi6KbOBiXSD7hHuCFJ7H9
	CWNlCJvMkWDT3ZHDosmJ3ef/0bnIHJbCM8SSMJzL4B635YJYYIjFObBZ5pY/Bjn1QxiT
	J50ICQ2L7N3bjER13gByA0ArMxSy2xZRWbI=
	</data>
</dict>
</plist>
