<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	mpVZ5nmd8jp4N+yUDOa4CbGZpxsWIPq5kYLRWXHj/s76rdG9rFjlEcCvRUdd8DioUnhF
	+A9RF60+vKyqeICFFvhuUDu4bZZFKHdnp2tTZxUZy6aO8sWdu/DjwtA1G+sF5mU02kR7
	ewQKgITZWNJ3wZp1a8/SlRJN/vPfWyeeCb4=
	</data>
</dict>
</plist>
