<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HrLwX/ud7o/V/Lp2WoiwQ1m6Is6ha0B9SgTOW6+jONhqbG8rwt2X99Xf8bpxbxyqexoq
	glgUkjGwue6s5OfIUnV1uKEh7J8uxVXV8XUuuZviBcwI3tCJfclQm1tIyPYkZcLeI4X8
	cyH5XgLMRU3JSfdAbN3FQK3/6+rJm3cUP3U=
	</data>
</dict>
</plist>
