<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	V2pQd990Q32du8a8izUY3ynGDZOVX/t9jwQJuauFA0Vh0Aw+eTbyhrM4qQ3Ea/J0N/T8
	wSE596W4HwvvA0nAOGqTki5FcggiIIKGkImiTFxw80e6AqUSwiGK8tvaVKqrVYVY2923
	NB2H11K0jP5qy+HP+Po/q+n0h+qm+IdYwIY=
	</data>
</dict>
</plist>
