<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	rsnA1WlMHuiWALsJaZMaOJzIschYjcRpT+z1tK5lcfCer1/K5K8pkOGkDfSaYQs6yNA+
	blCMW0Apz3dPEov6NcwTSGVAujf1zwzyW1odDVrFVycZoBcCOhVH6NPOaBhBl3IbkyRv
	gVZAWXfA0TsZ5zwlKWbOOl/eyBbd0Ycfji4=
	</data>
</dict>
</plist>
