<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ZPsOAe4WBo+cT2UbUO/1V2Z3a3ZT6Oi51OYgE0A1wXwsL2O7aSfWnKDitXHFaF9ogzXM
	TBMbrq5TZ4VyTF1P3dSckIK3Sxl3cGDHs3O5HW+KO5aau2EW3HB16haP+NwMUlUi9uYG
	QXhRr2bLzgI+1pRRVG2/rVCMPUHjVi6wED8=
	</data>
</dict>
</plist>
