<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Douban.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Douban</string>
			<key>URL</key>
			<string>http://www.douban.com/search?q={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://douban.com/</string>
			<key>Name</key>
			<string>Douban</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>mailto:soundbbg@gmail.com</string>
			<key>Name</key>
			<string>GuoJing</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the web in Douban.</string>
	<key>Extension Identifier</key>
	<string>com.snowzjx.popclip.extension.douban-sns</string>
	<key>Extension Image File</key>
	<string>Douban.png</string>
	<key>Extension Name</key>
	<string>Douban Search</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
