<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Regular Expression</key>
			<string>(\S+\.(com|net|org|cn|me)|\d+\.\d+\.\d+\.\d+)\s*$</string>
			<key>URL</key>
            <string>ssh://{popclip text}</string>
			<key>Title</key>
			<string>SSH</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.apple.Terminal</string>
			<key>Check Installed</key>
			<true/>
			<key>Name</key>
			<string>Terminal</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>SSH login host in Terminal.</string>
	<key>Extension Identifier</key>
	<string>org.congxin.popclip.extension.ssh</string>
	<key>Extension Name</key>
	<string>SSH</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
