<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dkDa+6g+1N5VTmtH/Wajm76FXtlUBPBoSm83xK5rqGR57yJnKyfWKZRq0yiSJtqsCoM0
	uyz4NjvmXyRixeUyXvqqS+JodLh89iaTdxrxl+pirLuNNlFZ91IbS6l0dfHAw8zwsKMX
	Tf/Xu79cL8wEmTpXwch6tukd9L/rkoUj9z4=
	</data>
</dict>
</plist>
