<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	lZ6+jAUowZ6TVhVHjooYi1iDy8/6HuQWgqSXWx0qDgicPYXMdRmIT0E3lt5dXLzTbrhp
	1BUUn1kUAjDr6noga2WQTIcfRtrPpJ2dm+p6QAW+iEPSRDar4E6GE2ZGzytK6d+gUFFd
	NgA86clMXqy52jTQZDc3TODguEce8J73sHk=
	</data>
</dict>
</plist>
