<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>hyphenate.php</string>
			<key>Title</key>
			<string>Hyphenate</string>
			<key>Image File</key>
			<string>hyphen.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replace spaces with hyphens. For example, 'too good to be true' becomes 'too-good-to-be-true'.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.hyphenate</string>
	<key>Extension Name</key>
	<string>Hyphenate</string>
</dict>
</plist>
