<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>largetext.png</string>
			<key>Shell Script File</key>
			<string>message.sh</string>
			<key>Title</key>
			<string>Large Text</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Display the selected text on the screen in a huge font.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.large-text</string>
	<key>Extension Name</key>
	<string>Large Text</string>
	<key>Required Software Version</key>
	<integer>1459</integer>
</dict>
</plist>
