<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>shortlink.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Shell Script File</key>
			<string>urlshortener.py</string>
			<key>Title</key>
			<string>Shorten Link</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://hzlzh.io/</string>
			<key>Name</key>
			<string>hzlzh</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Turn a long URL into a much shorter one. Services available: goo.gl, is.gd, v.gd.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.urlshortener</string>
	<key>Extension Name</key>
	<string>Shorten Link</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>domain</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Shortening Service</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>goo.gl</string>
				<string>is.gd</string>
				<string>v.gd</string>
			</array>
		</dict>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
