<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Make the selected text all uppercase.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.uppercase</string>
	<key>Extension Name</key>
	<string>Uppercase</string>
	<key>Extension Image File</key>
	<string>uppercase.png</string>
	<key>Required Software Version</key>
	<integer>3458</integer>
</dict>
</plist>
