<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HJnSt3vvoBpkFjKhMmklFiis8KmeVx1gsk0bYBTBf4dEMOur+3bEUd8rs/BRsjiD3bi8
	ejUBIiGZ1UP1tyqOcudJOHEv5aLY11qw5PmFJjkvWLG1k94wOVibOa9J027RLgpVa5iB
	1Ijp2fP4OR16s2EJ7BhuXfLoAijj5CVmH7o=
	</data>
</dict>
</plist>
