<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Search for the selected word in an online thesaurus. Includes Thesaurus.com, Collins, and PowerThesaurus.</string>
	<key>Extension Name</key>
	<string>Online Thesaurus</string>
    <key>Extension Identifier</key>
    <string>com.pilotmoon.popclip.extension.online-thesaurus</string>
	<key>Required Software Version</key>
	<integer>3510</integer>
	<key>Extension Image File</key>
	<string>onlineThesaurus.png</string>
</dict>
</plist>
