<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	FapQcWMrFb7DEK2Pu8VRSeZuXnXR70I0hG3uKFyhFHJSZRXkOiBN9auTiSjxbEna1f03
	ooZdtdVDut9JAc33tdumZGCiFRtWFn20WUZGt9mI722E2RbL3mxC8DBftuLfS9zhXHD+
	DNuPCyOJa4HedNNZ1pW9L26Y3nicGx53YxU=
	</data>
</dict>
</plist>
