<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>in.png</string>
			<key>Regular Expression</key>
			<string>(?s)^\s*([^\s]+(?:\s[^\s]+){0,3})(?:\s([^\s]+))\s*$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>linkedin.php</string>
			<key>Title</key>
			<string>LinkedIn</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Search for the selected name on LinkedIn.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.linkedin</string>
	<key>Extension Name</key>
	<string>LinkedIn</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
