<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>FeelingLuckyIcon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>I'm Feeling Lucky</string>
			<key>URL</key>
			<string>http://www.google.com/search?q={popclip text}&amp;btnI=I'm+Feeling+Lucky</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://lucifr.com/2012/09/06/im-feeling-lucky-popclip-extension/</string>
			<key>Name</key>
			<string>Lucifr</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Go directly to Google's "I'm Feeling Lucky" search result.</string>
	<key>Extension Identifier</key>
	<string>com.lucifr.popclip.extension.google-lucky</string>
	<key>Extension Name</key>
	<string>I'm Feeling Lucky</string>
</dict>
</plist>
