<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CDDoM66DJE5tL9VeYEQryZml8OnxKF3gDFCVnhwoEQ5Vu0b7ANhcVtPlcD5iEjh160GJ
	ecynR5+9akjkpx9178nuOxzIi2yjG9ssVi/ykJI7AiXsDTfpZ8TwPheelNMuf+Z/Dc9W
	0mmXINbc3fKvbdIx+VCbLilDnegQ1IY2mm8=
	</data>
</dict>
</plist>
