<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>n.png</string>
			<key>Title</key>
			<string>Naver</string>
			<key>URL</key>
			<string>http://search.naver.com/search.naver?where=nexearch&amp;query={popclip text}</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the web using Naver</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.SearchNaver</string>
	<key>Extension Name</key>
	<string>Naver</string>
</dict>
</plist>
