<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fPkDDxFJ2sL7XYp6dEok8BOCrX6OdRMVIugjwygU7USbEWdsM2L+H+6VOno5OlYcWieH
	QfTgDTvQH1PpJ2DYiw2OEHkrdU1Avu8+NP/RXm5CWN+RDO2CkD3IRwXPqYYqe5iM0XxZ
	zYGUI6lhjwL1tYiipHSDff5DMCsWb6Hw73Y=
	</data>
</dict>
</plist>
