<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>ember.png</string>
			<key>Service Name</key>
			<string>Add to Ember</string>
			<key>Title</key>
			<string>Ember</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.realmacsoftware.ember</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://realmacsoftware.com/ember</string>
			<key>Name</key>
			<string>Ember</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Save a text clip or URL to Ember.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.ember</string>
	<key>Extension Name</key>
	<string>Ember</string>
	<key>Required Software Version</key>
	<integer>1459</integer>
</dict>
</plist>
