<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Percent-encode or decode the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.urlencode</string>
	<key>Extension Name</key>
	<string>URL Encode</string>
	<key>Extension Image File</key>
	<string>percent-outline.png</string>
	<key>Required Software Version</key>
	<integer>3510</integer>
</dict>
</plist>