<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Before</key>
			<string>copy</string>
			<key>After</key>
			<string>paste</string>
			<key>Shell Script File</key>
			<string>null.sh</string>
			<key>Title</key>
			<string>C+P</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Copy and immediately Paste.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.copy-and-paste</string>
	<key>Extension Name</key>
	<string>Copy and Paste</string>
	<key>Requirements</key>
	<array>
		<string>paste</string>
	</array>
</dict>
</plist>
