<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>te.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,600}$</string>
			<key>Service Name</key>
			<string>Create TextExpander 3 Snippet</string>
			<key>Title</key>
			<string>Create TextExpander Snippet</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.smileonmymac.textexpander</string>
			</array>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>http://smilesoftware.com/TextExpander/index.html</string>
			<key>Name</key>
			<string>TextExpander</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://twitter.com/mkhudon</string>
			<key>Name</key>
			<string>Mathieu Kittel-Hudon</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a TextExpander snippet with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.textexpander</string>
	<key>Extension Name</key>
	<string>TextExpander</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
