<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	qwIqwCWqtziEn+rKE70Hgw2DvnM7J02zTZ7jRofvYI3UXFetIpJ3XeHmGokYpYjzwa5z
	gQA9TtZ5Ny3PXhyey0tPbZiA6SRp4+QXcBVNXT5JTEAnUJdb9H7+jjDQq1MNw2lYvAoO
	3stUyzN9T5hZStvBl/qIoQzM4kKzOKPfTNE=
	</data>
</dict>
</plist>
