<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CrNMD7A9z1qtQ95M50WMKBzfS+PWmEDZG6/pgUSU+iW3UUfo+Mo6xSHqM+NgY0YciOom
	H9vuMYVAmXxM1rGntHlj0nSBPKYZ/LyFt0lJTUxgZgQzciyv5NOen1rVsApaJ6lBNgWT
	Kcd6vPW1q6ZtHW/CPI4IbwMFg04qMdyYXWY=
	</data>
</dict>
</plist>
