<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.dhoerl.popclip.extension.swap</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Klipz</string>
	</dict>
	<key>Required Apps</key>
	<array>
		<string>com.apple.dt.Xcode</string>
	</array>
	<key>Extension Description</key>
	<string>Manage one or more queue-based clipboards. Click on one of its actions to open a PDF with instructions.</string>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>David Hoerl</string>
			<key>Link</key>
			<string>http://www.linkedin.com/pub/david-hoerl/0/98/a84/</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Xcode</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
	<key>Requirements</key>
	<array>
		<string>copy</string>
		<string>paste</string>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Klipz Cheat Sheet</string>
			<key>Shell Script File</key>
			<string>KlipzHelp.sh</string>
			<key>Regular Expression</key>
			<string>^[?]$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>After</key>
			<string>show-result</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Klipz Help</string>
			<key>Shell Script File</key>
			<string>KlipzHelp.sh</string>
			<key>Regular Expression</key>
			<string>^[hH][eE][lL][pP]$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copy-1</string>
			<key>Image File</key>
			<string>basic2-241.png</string>
			<key>Shell Script File</key>
			<string>Klipz1.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}\n$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Paste-1</string>
			<key>Image File</key>
			<string>basic2-243.png</string>
			<key>Shell Script File</key>
			<string>Klipz1.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Regular Expression</key>
			<string>^$</string>
			<key>After</key>
			<string>paste-result</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copy-2</string>
			<key>Image File</key>
			<string>basic2-241.png</string>
			<key>Shell Script File</key>
			<string>Klipz2.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}\n$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Paste-2</string>
			<key>Image File</key>
			<string>basic2-243.png</string>
			<key>Shell Script File</key>
			<string>Klipz2.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Regular Expression</key>
			<string>^$</string>
			<key>After</key>
			<string>paste-result</string>
		</dict>
	</array>
	<key>Additional Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Copy-3</string>
			<key>Image File</key>
			<string>basic2-241.png</string>
			<key>Shell Script File</key>
			<string>Klipz3.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}\n$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Paste-3</string>
			<key>Image File</key>
			<string>basic2-243.png</string>
			<key>Shell Script File</key>
			<string>Klipz3.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Regular Expression</key>
			<string>^$</string>
			<key>After</key>
			<string>paste-result</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Copy-4</string>
			<key>Image File</key>
			<string>basic2-241.png</string>
			<key>Shell Script File</key>
			<string>Klipz4.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}\n$</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Paste-4</string>
			<key>Image File</key>
			<string>basic2-243.png</string>
			<key>Shell Script File</key>
			<string>Klipz4.py</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/Python2.7</string>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Regular Expression</key>
			<string>^$</string>
			<key>After</key>
			<string>paste-result</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>default_clipboard</string>
			<key>Option Label</key>
			<string>Default Clipboard:</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Default Value</key>
			<string>Project</string>
			<key>Option Values</key>
			<array>
				<string>Global</string>
				<string>Project</string>
			</array>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>queue_type</string>
			<key>Option Label</key>
			<string>Queue Type:</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Default Value</key>
			<string>LIFO</string>
			<key>Option Values</key>
			<array>
				<string>LIFO</string>
				<string>FIFO</string>
			</array>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>pop_type</string>
			<key>Option Label</key>
			<string>Pasting with Option:</string>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Default Value</key>
			<string>All</string>
			<key>Option Values</key>
			<array>
				<string>All</string>
				<string>One</string>
			</array>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>separator</string>
			<key>Option Label</key>
			<string>Separator:</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Default Value</key>
			<string></string>
		</dict>
	</array>
	<key>Options Title</key>
	<string>Klipz Help:  Select text &quot;?&quot; or &quot;Help&quot;</string>
</dict>
</plist>
