<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	DLVhhaFQbXRhYE+DVwGxnrN+Ce+Lr+Z4Pp+jWOfB0+XS5JGD4BvPMLftejQvn7jP1F4p
	Hsa07SaabeIAhKoVBCFvBz5eOeBf03xxb5X4/GHHl2CkywUtOrHGWjvRv9HeTbjQh/yM
	WW2vjaxSw5Mwh7jNmkqZMkWHHrSdp64LBe8=
	</data>
</dict>
</plist>
