<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KdCc81pXAnjtHMUvUVoDoHW9lXWIjPZsgs2e87RY8bS/tG3xG3GlA4FMUKFl1t4+aCcU
	YZz+eEqJXxSwmR6dBlpodp2f6eQYxk95v5kMzgLAlSr295ZKdhNr3envmtwX6t0k4ACw
	iQrE8/wgQSA9rHHat786UGV24Rwo/9Ot5oU=
	</data>
</dict>
</plist>
