<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Translate Tab</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.translate-tab</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>Translate selection with Translate Tab</string>
			<key>Image File</key>
			<string>ttab.png</string>
			<key>Title</key>
			<string>Translate</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
		</dict>
	</array>
</dict>
</plist>
