<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>jd.png</string>
			<key>Title</key>
			<string>JD</string>
			<key>URL</key>
            <string>http://search.jd.com/Search?keyword={popclip text}&amp;enc=utf-8</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.jd.com</string>
			<key>Name</key>
			<string>jd.com</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Qiyuan Gong</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for products on jd.com.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.jd</string>
	<key>Extension Name</key>
	<string>JD</string>
</dict>
</plist>
