<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JvnewQ5DuCC1EGE+hGk4mavLy/OhVB6LTTNNrTUt+NhnzQJLawEmQazFzTvQJoofcmXe
	M1Duhekwm5DxI0MOcIxXVpxXxQJDgKemUNW7wCJP59LV5f9XoPPDiMOH2AiyOQcEe8cg
	U2LSHS56iA/qd252IPVeejHrttnb/EhiFGk=
	</data>
</dict>
</plist>
