<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>copylines.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>copylines.php</string>
			<key>Title</key>
			<string>Copy Lines</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Copy each line of the selected text separately to the clipboard.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.copy-lines</string>
	<key>Extension Name</key>
	<string>Copy Lines</string>
</dict>
</plist>
