<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	HejU6We4g4lEe3EukR0GCj9woHGIo6mcRiWwYcjhU/0+CJ5SkYl2QXVOxN9QPYw5SAB6
	502UoTJdg6Tc1KU1yhWMGHB549WEdHDSGGVpLl8dV3HzcBNkZq8EFl1dbXPtU6yRzCYu
	+PPyNc2UIjJ6+xnlKgJId2Zg/knl3MhIf9k=
	</data>
</dict>
</plist>
