<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BHxGPogp1LgB4FJx1Rg0/JlEiXm/zEEvVbHqd1vxh2TcgwiwTogx1FfXlFAUw/hsFUM4
	//5o9r6ZdDOr32aut/FIC6jUtmDFHa2RzFelafOtiIT8AIciWv0SHtcccO6G6ovvpoZJ
	X02rV5DgnB8TYROfQfA7lMT7AZ5KOCjnJbc=
	</data>
</dict>
</plist>
