<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GU9m2WCMwL5cWyNorrvZpek8/8AKelO0QcXoue9k0U8LeBI/NZr1gw1dlFqfJYKIZWqO
	LEidlnzet7iYN/KXSEk2/6A7YvS+cverxQ2t0bwQvAaMQCYR/7taEnvoA6BoC+8Zd7M0
	MEswC7wXB29Q1hY1BMTtuQoelqh8Oe1DxHg=
	</data>
</dict>
</plist>
