<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	QS2U3ZIv0dqY9yMLCH2mlLLDP0xCb2iUB9ilgMqN4ny4G8PRV6Vj/a+vc1Jc0B0ckAVf
	kHlDT2QatBeQJMJxen8gNfDssMmczbjonsD2IPdBujvhpkdnUvv6teiiLzVGHLOuwgCA
	zJ73ZtsTnuH9sUieR3lZfVlze2jli+BE83k=
	</data>
</dict>
</plist>
