<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>smile.png</string>
			<key>Title</key>
			<string>Emojipedia</string>
			<key>URL</key>
			<string>http://emojipedia.org/?s={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://emojipedia.org/</string>
			<key>Name</key>
			<string>Emojipedia</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for Emoji 😄🌍📰🐱👻 on Emojipedia.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.emojipedia</string>
	<key>Extension Name</key>
	<string>Emojipedia</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
