<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.append</string>
	<key>Extension Name</key>
	<string>Append</string>
	<key>Extension Image File</key>
	<string>plus.png</string>
	<key>Extension Description</key>
	<string>Append the selected text to the existing clipboard contents. If you hold down Shift (⇧), it will prepend instead.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>plus.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>copyplus.php</string>
			<key>Title</key>
			<string>Append</string>
		</dict>
	</array>	
</dict>
</plist>
