<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ZXdBBrHe+xF68JSe3ufFgvkfIvLXcL87c8fTrIoiWsX1qpEReVT4HZ0ZjA0GFa7yAtAG
	5varraAFg17dpOAnidH80ZD0YgCfLnFai8QG8KT9MiNw+9AgCWFAuSQSf0ScoOTsWU27
	sb7NGFS7E99FACsu35YOrmA4TOVhpFVR52w=
	</data>
</dict>
</plist>
