<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Lzo9mtn0D/z9oypiAkcNXDXIWrdF4JyCQcWcJAASI5pLfCmg8FcDlwh3JlKIrEOljP2O
	rjozpD8VBf2GxFMRl9yWaS5sWHWmgFKMqjoDEc5gitDDMOpXs9ZmphQjvwy76tSrumsh
	gKyjGQe28Q469QMLKHKnLw1AUtChIFB3fDc=
	</data>
</dict>
</plist>
