<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GE12adROWK0okN3xNfeaXP2fx3sEDUw1rnT7/dZWhGC94lOCfF+/74dQ8h0IX8YWOO/s
	KAMapluT9uuuORd8MGMG0O8aqOy5/7/wE10iZZ6aHqXBvz6EIpK9971euSdPBxRtEPVr
	o6SBxmg01tROlS/LDGrhJiwyVOcfTDnLdN8=
	</data>
</dict>
</plist>
