<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dEqrRQVYWkK0HXgV6erVqxEjuaWbVM4LPwrdkqYsAV3IJsC/pauNdJPYcyzvbpq22nAE
	V+a4yxbpYbnFg/SIh/h2p73ouGNaf9cAQjxcYn8D3Q+2khJ3cPSHT8kWMgIBVreyUFUI
	FNUAhfIbVK/Z+Z7K/ghGo/fyRwKQdi8QIh4=
	</data>
</dict>
</plist>
