<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	L96hZYQcyEDXRCjxSpquVFmS4khsX5hQ+Mm7Y8eEWNUWIRBvqcppAfDQj3NIPDqaTyFL
	kgu591ba9DvoGhGrZ1K4czRiNGfxH9vJBZkuvzqBHrAFk1wlCveuJdLrXyDX1MOx3zEv
	fKhGYceUb0Cw6KuJUoERnBB3O96bIP93QhI=
	</data>
</dict>
</plist>
