<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>titlecaseT.png</string>
			<key>Shell Script File</key>
			<string>titlecase.sh</string>
			<key>Title</key>
			<string>Title Case</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Capitalizes words according to typical English titling conventions.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.title-case</string>
	<key>Extension Name</key>
	<string>Title Case</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
