<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>sub.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyCode</key>
				<integer>27</integer>
				<key>modifiers</key>
				<integer>1310720</integer>
			</dict>
			<key>Title</key>
			<string>Sub</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Make the selected text subscript in Pages.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.subscript</string>
	<key>Extension Name</key>
	<string>Subscript</string>
	<key>Requirements</key>
	<array>
		<string>paste</string>
	</array>
</dict>
</plist>
