<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>ticktick.png</string>
			<key>Service Name</key>
			<string>Add to TickTick</string>
			<key>Title</key>
			<string>TickTick</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://ticktick.com/about/mac</string>
			<key>Name</key>
			<string>TickTick</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a new task in TickTick.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.ticktick</string>
	<key>Extension Name</key>
	<string>TickTick</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
