<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>phone.png</string>
			<key>Regular Expression</key>
			<string>(\+)?\(?\d{1,4}\)?(-|\s|\()?\(?\d{1,3}\)?(-|\s)?\(?\d{0,4}\)?(-|\s)?\d{2,3}?(-|\s)?\d{2,3}((-|\s)?\d{1,4})?((-|\s)\d{1,3})?\b|\b((\+)?\d{3}\.\d{3,4}\.\d{4})</string>
			<key>Title</key>
			<string>Dialectic</string>
			<key>Service Name</key>
			<string>Dial Selection with Dialectic</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.jen.dialectic</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.jonn8.com/dialectic</string>
			<key>Name</key>
			<string>Dialectic</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Dial the phone number with Dialectic.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.dialectic</string>
	<key>Extension Name</key>
	<string>Dialectic</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
