<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>shortlink.png</string>
			<key>Long Running</key>
			<true/>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>droplrShorten.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Droplr Shorten</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://droplr.com/</string>
			<key>Name</key>
			<string>Droplr</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Shorten the selected URL using Droplr.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.droplr</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Droplr</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>username</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Email</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>password</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Password</string>
			</dict>
			<key>Option Type</key>
			<string>password</string>
		</dict>
	</array>
	<key>Options </key>
	<string></string>
	<key>Options Script File</key>
	<string>droplrAuth.php</string>
	<key>Options Script Interpreter</key>
	<string>/usr/bin/php</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
