<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>QSpace.png</string>
			<key>Requirements</key>
			<array>
				<string>path</string>
			</array>
			<key>Service Name</key>
			<string>Reveal in QSpace</string>
			<key>Title</key>
			<string>Reveal in QSpace</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.jinghaoshe.qspace.pro</string>
			</array>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>https://qspace.awehunt.com/</string>
			<key>Name</key>
			<string>QSpace Pro</string>
		</dict>
		<dict>
			<key>Bundle Identifiers</key>
			<array>
				<string>com.jinghaoshe.qspace</string>
			</array>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>https://qspace.awehunt.com/</string>
			<key>Name</key>
			<string>QSpace</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://qspace.awehunt.com</string>
			<key>Name</key>
			<string>Tian Wenda</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Reveal files in QSpace.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.reveal-in-qspace</string>
	<key>Extension Name</key>
	<string>Reveal in QSpace</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
