<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>copy-result</string>					
			<key>Shell Script File</key>
			<string>pass.zsh</string>
			<key>Title</key>
			<string>Copy</string>
			<key>Script Interpreter</key>
			<string>/bin/zsh</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Copy (!).</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.copy</string>
	<key>Extension Name</key>
	<string>Copy (Alternative)</string>	
</dict>
</plist>
