<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Shell Script File</key>
			<string>magnet.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Title</key>
			<string>MN</string>
		</dict>
	</array>
	
	<key>Extension Name</key>
    <string>Magnet</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Description</key>
	<string>get magnet urls from selected text.</string>
	<key>Extension Identifier</key>
	<string>com.alenpuzic.popclip.extension.magnet</string>
</dict>
</plist>
