<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>AppleScript File</key>
			<string>TestReturnResult.applescript</string>
			<key>Title</key>
			<string>TestResult</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Test for AppleScript returning result.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.as-result-test</string>
	<key>Extension Name</key>
	<string>AS Result</string>
</dict>
</plist>
