<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Image File</key>
			<string>mdlink.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Shell Script File</key>
			<string>mdlink.py</string>
			<key>Title</key>
			<string>Markdown Link</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://blog.tcchou.org/</string>
			<key>Name</key>
			<string>T.C. Chou</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replaces the selected text with Copyed text result as a Markdown link.</string>
	<key>Extension Identifier</key>
	<string>org.tcchou.popclip.extension.mdlink</string>
	<key>Extension Name</key>
	<string>Markdown Link</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
