<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	twe4ieb/YN+loJ0NrxMEahIjrVcDBZfFhg8rArJ03O2o3kQSk8Dk7QjuF4Q0UrgBp2Tl
	ZHZIa8cHOClVZ6usDMH30qDa5SiGGCRN+arB0Q38/lbp3smOMyX1Y+59g3UVqNGAuGog
	V1VLZcEmMDeVJ2Ixw0zbNqfpL7jcexP9THI=
	</data>
</dict>
</plist>
