<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	j34JRkIaGY2sT+eK5u78iimHdlBgw0puEJwkPEeZCsWWrYD1yrHPJAMpBU6NVQWG1k5D
	z50jWxEwPTl9nYFckRX27VpR/L0Xbjh7+xX63LO3iZ7wULtnK+2S4vgY1Q3RKA8wnLPe
	j5S0HiaSp6ES0IWj2KNKQDo20VO0fJf6QFk=
	</data>
</dict>
</plist>
