<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>sp.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>StartPage</string>
			<key>URL</key>
			<string>https://www.startpage.com/sp/search?query={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://startpage.com/</string>
			<key>Name</key>
			<string>StartPage</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Search the web using StartPage.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.startpage</string>
	<key>Extension Name</key>
	<string>StartPage</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
