<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BuKceu4cG6VxQ1EWvgLYoZgbPVy2MMC+qI4QXq9ZDk/Q2ZdWMEzvQkjhdJmEGGmLsW8Z
	aBIEfwIDZmU8ucMsSavayaqbu/hydjdnBFRXmw1WIKaCJJArigiF/zWiDGEwdXr2UXlL
	9EHDaQ7lSQPSxlz3jqrj64mP+hzLooVlEco=
	</data>
</dict>
</plist>
