<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	d/E8lAf/sY2Wd/mGSLBdFTvTHoTHX+yD4W/mbIwWNpg3WpJrux33vJ3JSSEXGPAmxVu2
	ZRNOKvYRg4X6Lmfa26Yr4QyVGvnjiqbz0VWl7JDp3tVLrYUewCgTV439To3UokUJqciJ
	7mpC/DQ8CzZwys+dV4fLNkeUWdBNKDE+2ZE=
	</data>
</dict>
</plist>
