<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vS8nNkfE32z0A+ZfyL3FLBp0hbpOKE/anNwkozn3+0z9B/zXGdMmqC2NzgkDVTVM1y/5
	GB88eb+kT2ZVgiPxEO0d/EgwsNvc7K3qBhHpEunLPyQJ97HITNRPlwHfaTFcBh5cSEFn
	hxjuRlFehFEp0cyK7QoyBDzpW6yNpwuZYB0=
	</data>
</dict>
</plist>
