<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	L18y7XDr5pKxhZFvmIhl2IwCm8nmmZhE+q+rk70ycSWhl34qqvZF34081FSrZemjsj5b
	7oMaNnCmwmYao+RwfjywcWSjfbajm8NCu//yQvdWak5DuIqQUUynjS1itXOasNQxWOBT
	x2mMqPq0b0mUzd/AiI7erijTYhrAQHrXLGQ=
	</data>
</dict>
</plist>
