<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/local/bin/bash</string>
			<key>Shell Script File</key>
			<string>slugify.sh</string>
			<key>Title</key>
			<string>GitHub Anchor Header Link id</string>
			<key>Image File</key>
			<string>link.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replace spaces between words with hyphens, remove anything that is not a letter, number, space or hyphen and downcase. For example, 'The Good, the Bad and the Ugly' becomes 'the-good-the-bad--the-ugly'.</string>
	<key>Extension Identifier</key>
	<string>com.wildcard.popclip.extension.githubSlugify</string>
	<key>Extension Name</key>
	<string>GitHub Markdown Anchor Link id Slug</string>
</dict>
</plist>
