<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	j+KVTlMoWnqWDbG2Zhz9HGKRQpIpEiO51eBLWfWYsvPaPnJ6NlI2j5EDWKXGVp1qjZgN
	x+ajbqN9o12PfZ8gsIErJDUVfEtCmoMlqeM7EWQo6ei60aJMZXanZa5uzEGwsnM+KNAG
	b7thB6zKRWJcMJeTloVOgpvEXTUNUg1baso=
	</data>
</dict>
</plist>
