<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	f7/CYJ7dbbMZrqJhM+jKbAhEPixERlY29x/RE/F91xUMGMjYckQlakBdWFZ64r908kpT
	ryyjPOSRkA5tiQtw2JI+t+bEvhuzJRBUHbg7ju4Q59PJOBrB8GDOLpB7ywxgHNFOgUsq
	Q35yA1VSk6vFO51CBijIZnf1W9IL5eaUBxo=
	</data>
</dict>
</plist>
