<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>pocket.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
			<key>Shell Script File</key>
			<string>pocket.sh</string>
			<key>Title</key>
			<string>Pocket</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.readitlater.PocketMac</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://itunes.apple.com/gb/app/pocket/id568494494?mt=12</string>
			<key>Name</key>
			<string>Pocket</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Save the URL to view later with Pocket.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.pocket</string>
	<key>Extension Name</key>
	<string>Pocket</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
