<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ZqWiJ3qi5LUiO25OR92qJE2j30mmgoLyNBZ/btx8gKwDqKapT4jpeL9vnEN5rjhXrhfB
	sR00qAWwxd3JuH3nDnyEBpQNUwq34FIJ3e0tCfwdkthAckiM6GerD7hns/308DQQvwim
	25xOLrFEgXZziRMxjdVunw8k6EVWduGJ9CM=
	</data>
</dict>
</plist>
