<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	jy/wTnSAuiHI1PjUTGR/Q4lIkTTCKZsbDJe6jCnj031pLHAAz43TtmUPchTOaNJhVE/u
	4tKLDOZJ3okIhqm9EushebOYBtx82WdvepXwdSvLZSINF4NfYfL5fd2nwHlbl0uluRyR
	UE2I+U7HBt4bLNaOWEKoNflhIe3YjAapJ0s=
	</data>
</dict>
</plist>
