<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>bluetwitterbird.png</string>
			<key>Preserve Image Color</key>
			<true/>
			<key>Regular Expression</key>
			<string>(?s)^.{1,195}$</string>
			<key>Service Name</key>
			<string>Tweet</string>
			<key>Title</key>
			<string>Tweet</string>
		</dict>
		<dict>
			<key>Regular Expression</key>
			<string>^@\w{1,20}$</string>
			<key>Service Name</key>
			<string>Open as Twitter Username</string>
			<key>Title</key>
			<string>{popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.twitter.twitter-mac</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://itunes.apple.com/app/twitter/id409789998</string>
			<key>Name</key>
			<string>Twitter</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Compose a new tweet using the official Twitter app. Also, you can select a username such as @pilotmoon to see that user's tweets.</string>
	<key>Extension Identifier</key>
	<string>-colortest</string>
	<key>Extension Name</key>
	<string>Twitter</string>
</dict>
</plist>
