<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	ENA1oNXLize+RJDwl/3NqsoXyf5K3sG/iPH+wgH7++PtDdB63v4GNA4vxaZ5xRu+I1cL
	CDB/apwuzkszpuq/HDFwQOZmnwjFde/sCzpj8FqPjdBAyemTn03n5+5tM68UCk44LUpn
	ybzS2tXjN+vleqqYMB2VxbSQK7EXTyQI7i8=
	</data>
</dict>
</plist>
