<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Ueb/q6e0imBO5FgwUY7Dr8GQO+cn8ea3+YsWYLtTu4v3c67WXATWJG0Fhben3k4CUspA
	kvqvxMDC9PvDEX8teWjburgcZBb+Bycdgv1YhZOM4Vs7vQNIJlWfAv5r7YRNNficRB/R
	TB04JbauvhIh686I317eDKjDx2d9VbvfXSo=
	</data>
</dict>
</plist>
