<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	uiuNP72TpiU/MZRW9wq3VTCwKxNISSf6zcC4YZNemzbqnZXteLUxPK1VrXuV/FdLJVrS
	A4oc/CPqEgQT+1DxUx1wkj4IlmSvUkOnZf4ZKqt4oIM7Pe8ka6U73SiSa2j/rcuJHRxU
	rCzLyBNS/rFbm6Jl3SfLx7DHxFtOWNuLiGg=
	</data>
</dict>
</plist>
