<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hxkYa8hBhauEtG9gmLPQMHExVEvw96Ah7SbsS9eC29arvavAsIOW3v0tQjvViVxPa3T+
	tF8G29wQaqpem4eab1uiD3cdYzanBSya87131LImybEX0dX7Zwsh9sKsEIkopjHMBGD0
	bkyCDdr+jtaXKPGCgt3CW4++zrFvA1B1Bd0=
	</data>
</dict>
</plist>
