<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>dfstar.png</string>			
			<key>Shell Script File</key>
			<string>md2html.sh</string>
			<key>Title</key>
			<string>Markdown to HTML</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert Markdown text to HTML markup.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.markdown-to-html</string>
	<key>Extension Name</key>
	<string>Markdown→HTML</string>
	<key>Extension Long Name</key>
	<string>Markdown to HTML</string>
</dict>
</plist>
