<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>ttick.png</string>
			<key>Service Name</key>
			<string>TaskPaper: Send to Inbox</string>
			<key>Title</key>
			<string>TaskPaper</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.hogbaysoftware.TaskPaper.mac</string>
			<key>Link</key>
			<string>http://www.hogbaysoftware.com/products/taskpaper</string>
			<key>Name</key>
			<string>TaskPaper</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Add a new task to TaskPaper's inbox.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.taskpaper</string>
	<key>Extension Name</key>
	<string>TaskPaper</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
