<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	IKshl/SG6VOvw8eBzhY3VJYl+HBo7vNH1AYRSX3s0uufaPGzFoEKUHamSsCZYS1DPdPA
	fjkVNB4atNG7feUneFoQM6RN/pRJdJBgOkVDMO+ZCD6cBpKveLvz4stODRqLaeKtODro
	hsylI0iqU1IZ6QqSHuhxqI17IcMDGu4Hyqg=
	</data>
</dict>
</plist>
