<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Regular Expression</key>
			<string>^\w{1,20}$</string>
			<key>Shell Script File</key>
			<string>username.sh</string>
			<key>Title</key>
			<string>@{popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.tapbots.TweetbotMac</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://tapbots.com/tweetbot</string>
			<key>Name</key>
			<string>Tweetbot</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Look up as username in Tweetbot.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.tweetbot-user</string>
	<key>Extension Name</key>
	<string>Tweetbot User</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
