<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>sublime.sh</string>
			<key>Title</key>
			<string>ST</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.sublimetext.com/</string>
			<key>Name</key>
			<string>Sublime Text</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Open the selected text as a new file in Sublime Text.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.sublimetext</string>
	<key>Extension Name</key>
	<string>Sublime Text</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
