<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>64.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>b64encode.php</string>
			<key>Title</key>
			<string>Base64 Encode</string>
		</dict>
		<dict>
			<key>Regular Expression</key>
			<string>(?s)^[A-Za-z0-9+_\-\/]+=?=?$</string>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>64Inverse.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>b64decode.php</string>
			<key>Title</key>
			<string>Base64 Decode</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>		
			<key>Option Identifier</key>
			<string>variant</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Base64 Variant</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>Standard (+/)</string>
				<string>URL Safe (-_)</string>
			</array>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Base64-encode or decode the selected text. Supports both standard and URL-safe Base64 variants.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.base64</string>
	<key>Extension Name</key>
	<string>Base64 Encode</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
