<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CXLPgZvGT6JFGa45gMWalFm6HQwYVCx9/Poqt9fNuNt5FOvvpXA+N0igZNnivWBXJCqB
	dR/jTteT1Sa8t3z+06oZJzl9LRHMnNk3pE06lAbEHNuQxGc3vc2NTDweXxzcu3tky9Hu
	lDvIwySjEQsHM/FVxPOcgnrs2fz+F3JNHCQ=
	</data>
</dict>
</plist>
