<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Image File</key>
	<string>underscore.png</string>
	<key>Extension Description</key>
	<string>Replace spaces between words with underscores, and vice versa.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.underscore</string>
	<key>Extension Name</key>
	<string>Underscore</string>
	<key>Required Software Version</key>
	<integer>3510</integer>
</dict>
</plist>
