<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	fTUQWRSjlCnkY2KcVGcIdx5sLft5G+cN+hhfiDP4+dd3z99gAzbKW0LcSVjubHB0Q/Rr
	osN8vTQWYM12ERiznKhJSz963P/CjrR3vjH/XNVN9bNB8cl5FZiVeP4WYRJgtMcWeTXW
	+qry+H+Xb1kwGJG3Vm7UX1YMxNRyt0Sjmrk=
	</data>
</dict>
</plist>
