<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	MtUNwa0IoHM5D+uB2xMnDJoQw6T0QDWjaIih/yLo2rGUfXbirB+pzgx1+xzLI2BhM3PV
	srF3fKMBaZXBI/FWBjpbj/ez1nSsVoJ/tnxo7F44Z2XAtbW3STkNWLVn2FqnnekY7FX+
	DxRnUxDNvCEDkGReP6kyNMOzh1ZjrrlQ58Q=
	</data>
</dict>
</plist>
