<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Extension Name</key>
    <string>JSON Tailor</string>
    <key>Extension Description</key>
    <string>Open selected text directly in JSON Tailor for editing. Hold Option (⌥) key to send data via cURL first, then view the response.</string>
    <key>Extension Identifier</key>
    <string>com.jsontailor.popclip</string>
    <key>Extension Version</key>
    <string>2.0</string>
    <key>Actions</key>
    <array>
        <dict>
            <key>Title</key>
            <string>JSON Tailor</string>
            <key>Shell Script File</key>
            <string>jsontailor.sh</string>
            <key>Icon</key>
            <string>icon.svg</string>
            <key>Requirements</key>
            <array>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Option Identifier</key>
            <string>curl_command</string>
            <key>Option Label</key>
            <string>cURL Command Template</string>
            <key>Option Type</key>
            <string>string</string>
            <key>Option Default Value</key>
            <string></string>
            <key>Option Description</key>
            <string>Complete cURL command template for Option key action.

Use *** as placeholder for selected text.

Example:
curl -X GET 'https://jsonplaceholder.typicode.com/users/***' -H 'Accept: application/json'</string>
        </dict>
    </array>
    <key>Apps</key>
    <array>
        <dict>
            <key>Link</key>
            <string>https://jsontailor.top</string>
            <key>Name</key>
            <string>JSON Tailor</string>
        </dict>
    </array>
    <key>Credits</key>
    <array>
        <dict>
            <key>Name</key>
            <string>Yimin Wang</string>
            <key>Link</key>
            <string>https://github.com/Wangggym</string>
        </dict>
    </array>
</dict>
</plist> 