<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Put quotation marks around the selected text, choosing from several styles. (Updated for PopClip 2021.9.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.quotes</string>
	<key>Extension Image File</key>
	<string>quotes.png</string>
	<key>Extension Name</key>
	<string>Quotes</string>
	<key>Required Software Version</key>
	<integer>3510</integer>
</dict>
</plist>
