<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>plus.png</string>
			<key>Position</key>
			<string>1.6</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>copyplus.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Append</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Append the selected text to the existing clipboard contents.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.append</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Append</string>
	</dict>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
