<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>example.png</string>
			<key>Shell Script File</key>
			<string>example.sh</string>
			<key>Title</key>
			<string>Example</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.example</string>
	<key>Extension Name</key>
	<string>Example</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
