<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	B/oEjoEWUK+oSAQo/61Z9u7Uk1wey5wgPYfNTsuaNbSSi8N1+xNDfuUJ+uKSolrhJcaP
	iJJ1wHGdzv82UowkoC0QGK9euGINe4bla/7b1aaoQUyTaH/8n1/VjvxMqSL39s8c1zpS
	SVThGD/vW/X4UlDInAJqJwNRW5VpWVlLJxc=
	</data>
</dict>
</plist>
