<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>RemindersNewItem.applescript</string>
			<key>Image File</key>
			<string>reminder.png</string>
			<key>Title</key>
			<string>New Reminder</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Add a new reminder to the Reminders app. (The reminder is added to the first list in the first account.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.reminders</string>
	<key>Extension Name</key>
	<string>Reminders</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Default Value</key>
			<string>Reminders</string>
			<key>Option Identifier</key>
			<string>listname</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Name of List</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Required OS Version</key>
	<string>10.8</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
