<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	dsZTgOWM3LDoeMB3rNyj9ahJ7heb8FDLyO3CF/JIYi40tkZ3pIJCswl98Fw+iNdcsPz1
	883TeMuNVu9Kk2yCcwR5mVViThKKv7K9SeGJbM4nfUnHATEC8wDFaCm4yHo4rZ1n3bmw
	PFJYR3Rd2MtNLXk4fRq3fTEAYrwHd+nQD4o=
	</data>
</dict>
</plist>
