<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	DrjqXTSAfHxCnG0T7NfIGioLzIpFLl0Z1UOPIFg9tbXu+0oL26rpRsYmBnXeTm606fmV
	ozZkEpZfYMt6fAF6jDWzw1FcdKjaSWxGS/zA6y2D6f8XDbOvxYNxe4QdhKNKDQ6pdJED
	9M8Y+LpjFnr98xfNJ9Wcq2AzSlVVcl6ZNu8=
	</data>
</dict>
</plist>
