<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>unclutter.png</string>
			<key>Service Name</key>
			<string>New Note in Unclutter</string>
			<key>Title</key>
			<string>Unclutter</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://unclutterapp.com/</string>
			<key>Name</key>
			<string>Unclutter</string>
			<key>Check Installed</key>
			<true/>
			<key>Bundle Identifier</key>
			<string>com.softwareambience.Unclutter</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create new Unclutter note with selected text. (Requires Unclutter 2.0.6 or later.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.unclutter</string>
	<key>Extension Name</key>
	<string>Unclutter</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
