<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	XPMYfc5xicou6pcxmK9GceTmRnogTO4LJ/4lxSFsMti/adyHgdBByemkM7ABSFzrGChx
	75/CkN/e+phCB0o/jR7Z1s+D8Az+nYosXttVfTtQVVpp07t5BrGftmaRkMqiBmjWT1AR
	0gJBrT6Y+wWvaseidEBOJKPdsItsr0mfOm0=
	</data>
</dict>
</plist>
