<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	EcoArl7NPmKFSotd4Lvazk8GfVApU06ZwcIjsExvAYIbeAPoA48Shy1nz88QRLBC+9Wb
	lBQFaonSqXfY99uAmsbbEJkXqoUxdEe473oARQDGB/aVogg+D40BztcNLQwk61gLQMJ5
	WOUV7EIpO3sl4fb98A7rWlZ4UggBpX5fd/4=
	</data>
</dict>
</plist>
