<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	neHGkEkTL5388uk1IXLhFDbxZyYHgze8mPO3SGlZd30ouLxDscTihI5ZqtPDE4sQk9br
	Vv3CZoImsNpIM8PLpljWX4i4zRN25ftr1GVb8JSfA+Uv/rTP5gjVNUnKy0saLBfAwmB+
	JRg3JtVEMHPJuoEOIa9MfodmBpj1QJgcaug=
	</data>
</dict>
</plist>
