<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>removeperiods.php</string>
			<key>Title</key>
			<string>Remove .</string>
			<key>Image File</key>
			<string>removeperiods.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Replace periods with spaces.</string>
	<key>Extension Identifier</key>
	<string>com.andrewford.popclip.extension.remove-periods</string>
	<key>Extension Name</key>
	<string>RemovePeriods</string>
</dict>
</plist>
