<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	cqIXJdRFGBtD8TU1/zYE2yNs2ZafaAsYPry1NTAimbWVfECfdeXCL0MxKiQ1TOTI+0U/
	H51ZRNg9MCWa6FSckvV5KHN5ufhKKJs0t6F7/w0cTISwWGqnFmfbK9KvomOXEa440mjD
	GiDZGuFQodcgpEou2kItERxHt7Q4MsVmhiM=
	</data>
</dict>
</plist>
