<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Bn66727G4lScIFo833ALbw1vJEvvTEuyCckyUFQfhrvYzy5TYFxV2qSKVqjex5e4A6qL
	fkpSmG3//5rJ5U3W3ZgCRSI7XELvcx8+AILggS7mHBfKB80izdSCN/jt2PBi/0mlquR/
	IRZFpNaT5kBvCs/JXR4tv8wnZIsVkIDTwgk=
	</data>
</dict>
</plist>
