<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BszFhzuScQuZALigOGJvyLolEciuyrLZkoYlgqC6vIuoK2lX3KpJisIF5jnQQvsI3o43
	rnykvLhZWSIarnhEkODMQt9fSap1wGASBAduTFTzzQyq0PFmu4kqVh4+bXUmZWWt08GT
	3eY/Ttl7Od8Dr8YRpBAwQ2I+1KhEtQPC7A4=
	</data>
</dict>
</plist>
