<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.antidote</string>
	<key>Extension Name</key>
	<string>Antidote</string>
	<key>Extension Image File</key>
	<string>Antidote.png</string>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Look up the text in Antidote, the French dictionary and spellchecker. (Updated for PopClip 2019.9.)</string>
		<key>fr</key>
		<string>Ouvre votre texte dans Antidote.</string>
	</dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>Antidote - Correcteur</string>
			<key>Image File</key>
			<string>Antidote.png</string>
			<key>Title</key>
			<string>Antidote</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.antidote.info/antidote/</string>
			<key>Name</key>
			<string>Antidote</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Philippe Janocha</string>
		</dict>
	</array>
</dict>
</plist>