<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	Cw/yynRHyft2e+0MjkKAYgYN4O3JAb4SBQWLi0iSXBJU38NiTwinN8Cr9XoflCRn8aYm
	Tyh6NQrt+7agzkHSupSYgVksvuBKG7/W8Geq0D19TZ3coqZq182ycAy4U0AUo94KN48A
	28jheBa8n9seTRGF92HePlHwN3pfbk3wx+0=
	</data>
</dict>
</plist>
