<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	KZ6kf2tv376XdNunPRp5XM93H85TQA1GXmiQYqBMs/fbJVJA2pAPRh2DYm3m4fEpU+h+
	V9yG2EuVQbJ1XxbmyF7/A0drQZFCBweXxBb54hxcnIn/zze6Is4wZ6Am0biGyfNHgWQZ
	fmrw5NaO7LHHZ2DsbcfPzaTZ++wGklFmfRk=
	</data>
</dict>
</plist>
