<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>nvALT.sh</string>
			<key>Title</key>
			<string>nvALT</string>
			<key>Image File</key>
			<string>rocket.png</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>net.elasticthreads.nv</string>
			<key>Check Installed</key>
			<false/>
			<key>Link</key>
			<string>http://brettterpstra.com/project/nvalt/
</string>
			<key>Name</key>
			<string>nvALT</string>

		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Marc Abramowitz</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Create a note in nvALT. (Updated for PopClip 2019.9.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.nvalt</string>
	<key>Extension Name</key>
	<string>nvALT</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
