<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	LO/khbJNyspv7+uLQAdxq2AH3iUXC0CaAoieuEQHwepm0eGyzTRj9ocsT5csUafiQ571
	DmNzxQZshmJbsSAnSKa1G5WJuvINdG+sFEPtUK4maQJhSDw+pLXri7ivxGk6gfySOES+
	NLpqalUXZIxlEUQbDPk141clQ2rKtX71zQg=
	</data>
</dict>
</plist>
