<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	CvzoqIt0IpGgEX2br3+ITHdsUWoHxwaiMIQwVwTuQ5l5hSseyy+3Pi9BPPyOpDxNDeXK
	yhebPhsZegpR93smxjdVsSYwgElkZG1/BYIZUDhCX01kEQyfqa1MaaxMqCF/S9ViWtpf
	FtxejXTYgGS6sSgsqgQVD/0XnXVd3wn8q/I=
	</data>
</dict>
</plist>
