<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hqUQpTmJCR6Ogtzb7Hy7oeZCvc5vB3P4e+sizxjIdbgQQ7HT4KBl5eAMUYU4wYJxE1gh
	ffRHC4OWRKaS/mG3Pt3fyQcDSV5dHReG2muY1GxqgmliDV1ozgZtf4f4c+W2HeDWQ4qs
	3rZsnQagqySfjPmr1/Jvik151gJ4UfxP/9A=
	</data>
</dict>
</plist>
