<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	H9gCUr47hkeTe3oSPtfjU9z/CwWnaKehI6mVBbneO2WUpJDc8+SK8uj0G3wss1e5RRCo
	wpoEoPTQQ+v8dEQuyrLB4UWJ/YapU4taoUVk4iA2wPjcN/SOetw/GVBZjdVCv+sTU9py
	gCHB64ORSqBbKBpdX8xFbEH8Depw8qR+u4w=
	</data>
</dict>
</plist>
