<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vwC2OsSWv96mvrfrbu+tT3kT55Yw5hkj8n4RMXa9QHLNgfuRFdtAKWxLvaqbcdcR/V8S
	4QZJIpF3Y9+EiRrhxCohiy85EY/6rfIEOqBbFWsCJgBB2OnnM6MBOOxpjn7AogWqveVa
	lv9bauMHBJzhesAMSXEW+qXNMxGfAalhDHY=
	</data>
</dict>
</plist>
