<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	tP1p/2OsF5NQcc2Zsgtpk+BwF6JfYz+ruN0/BZMU0Jxk9YJ4PVMRhLAUDDxFqZnSr45q
	sEP4n9jKL29aIKg1Kkq+mh9LJp2fO6bc8zm5FINWOULdl258FcDUavNDqthy8rddv+0+
	AtdATliP0MB5ZXEqj2RneaRNFINKVZ8Bzpg=
	</data>
</dict>
</plist>
