<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>SendViaDeskConnect.applescript</string>
			<key>Before</key>
			<string>copy</string>
			<key>Image File</key>
			<string>DeskConnect.png</string>
			<key>Title</key>
			<string>DeskConnect</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.deskconnect.mac</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://deskconnect.com/</string>
			<key>Name</key>
			<string>DeskConnect</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the selection to an iOS device or another Mac, via DeskConnect.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.deskconnect</string>
	<key>Extension Name</key>
	<string>DeskConnect</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
