<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	c73gVcFrj53v+oewKNIjfKqEyr//MKX7zrM5vPkFVcxvSsCKf9ChAuKJWDcqIDx6ZcF2
	pe0YMmmInh1KhVdK4GZd2j+Kb2zKX1acVLd+pMO1C0XV3W1RGDb2nR29LNUbHXxrqmp8
	43Ie8cV5/t4cyR6fctHfjoRSomaqmUjOEvk=
	</data>
</dict>
</plist>
