<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	hOVwMJuE/zR7nyJieeeSb/JRIhVeE1rkZb5T1hgIYRPT8TCewmh8FsyaFdrtCJCXmWDx
	sGFwkcAfO52WYnYibshPHTzlbSn6jzQgrgD9/oHdD1W0kgtjkrsIiCEM5LbQ8VyKaLPa
	a8AFJRH2vgxZ2RWpllz6YVFr5mog0mfkXb0=
	</data>
</dict>
</plist>
