<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	W4rNhRhf8J+KnBaqdRgwXqfvL4T3fmm4Wc8AB6rX1MlVc5PdvBuOQdvKup9z8HB/cGjO
	/KlN92wKA1/ANIo2I96tqLU4LnolUbQMMUO5N6gAic1m2yJqxzGfoytcPH+sbhsTK3zv
	h4lsY/0HiNhlaNCp8aafpqX9cF/tGE3sOkc=
	</data>
</dict>
</plist>
