<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Paste as plain text only, without formatting. *Updated for PopClip 2021.9.)</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.pasteplain</string>
	<key>Extension Image File</key>
	<string>paste-equal.png</string>
	<key>Extension Name</key>
	<string>Paste and Match Style</string>
	<key>Required Software Version</key>
	<integer>3526</integer>
</dict>
</plist>
