<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Before</key>
			<string>paste-plain</string>
			<key>Regular Expression</key>
			<string>(?s)^.*$</string>
			<key>Shell Script File</key>
			<string>null.sh</string>
			<key>Title</key>
			<dict>
				<key>ar</key>
				<string>لصق =</string>
				<key>ca</key>
				<string>Enganxar =</string>
				<key>cs</key>
				<string>Vložit =</string>
				<key>da</key>
				<string>Sæt ind =</string>
				<key>de</key>
				<string>Einsetzen =</string>
				<key>el</key>
				<string>Επικόλληση =</string>
				<key>en</key>
				<string>Paste =</string>
				<key>es</key>
				<string>Pegar =</string>
				<key>fi</key>
				<string>Sijoita =</string>
				<key>fr</key>
				<string>Coller =</string>
				<key>he</key>
				<string> =הדבק</string>
				<key>hr</key>
				<string>Zalijepi =</string>
				<key>hu</key>
				<string>Beillesztés =</string>
				<key>it</key>
				<string>Incolla =</string>
				<key>ja</key>
				<string>ペースト =</string>
				<key>ko</key>
				<string>붙이기 =</string>
				<key>nb</key>
				<string>Lim inn =</string>
				<key>nl</key>
				<string>Plak =</string>
				<key>pl</key>
				<string>Wklej =</string>
				<key>ro</key>
				<string>Lipește =</string>
				<key>ru</key>
				<string>Вставить =</string>
				<key>sk</key>
				<string>Vložiť =</string>
				<key>sv</key>
				<string>Klistra in =</string>
				<key>th</key>
				<string>วาง =</string>
				<key>tr</key>
				<string>Yapıştır =</string>
				<key>zh-Hans</key>
				<string>粘贴 =</string>
				<key>zh-Hant</key>
				<string>貼上 =</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Paste as plain text only, without formatting. This option appears as "Paste =" in PopClip.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.pasteplain</string>
	<key>Extension Long Name</key>
	<string>Paste and Match Style</string>
	<key>Extension Name</key>
	<dict>
		<key>ar</key>
		<string>لصق =</string>
		<key>ca</key>
		<string>Enganxar =</string>
		<key>cs</key>
		<string>Vložit =</string>
		<key>da</key>
		<string>Sæt ind =</string>
		<key>de</key>
		<string>Einsetzen =</string>
		<key>el</key>
		<string>Επικόλληση =</string>
		<key>en</key>
		<string>Paste =</string>
		<key>es</key>
		<string>Pegar =</string>
		<key>fi</key>
		<string>Sijoita =</string>
		<key>fr</key>
		<string>Coller =</string>
		<key>he</key>
		<string> =הדבק</string>
		<key>hr</key>
		<string>Zalijepi =</string>
		<key>hu</key>
		<string>Beillesztés =</string>
		<key>it</key>
		<string>Incolla =</string>
		<key>ja</key>
		<string>ペースト =</string>
		<key>ko</key>
		<string>붙이기 =</string>
		<key>nb</key>
		<string>Lim inn =</string>
		<key>nl</key>
		<string>Plak =</string>
		<key>pl</key>
		<string>Wklej =</string>
		<key>ro</key>
		<string>Lipește =</string>
		<key>ru</key>
		<string>Вставить =</string>
		<key>sk</key>
		<string>Vložiť =</string>
		<key>sv</key>
		<string>Klistra in =</string>
		<key>th</key>
		<string>วาง =</string>
		<key>tr</key>
		<string>Yapıştır =</string>
		<key>zh-Hans</key>
		<string>粘贴 =</string>
		<key>zh-Hant</key>
		<string>貼上 =</string>
	</dict>
	<key>Position</key>
	<real>1.9099999999999999</real>
	<key>Requirements</key>
	<array>
		<string>paste</string>
		<string>formatting</string>
		<string>formatted-text</string>
	</array>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
