<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	SDfarWBCfjskUt8FC30qJySn8S1yBexD7e350d5Rq8eU60QD7rsjVCNzJI0l+vT4fM1/
	LMGXlYUS/4FyOoFI8spxzO8pSDfmf1GFxeFn2hdCDX7uoRwdHWubdZphhMAaiDLvVd45
	EFaH61FkFPjH72XXNhRhMedJ75eTKhVI6cU=
	</data>
</dict>
</plist>
