<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>hlite.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>H</string>
				<key>modifiers</key>
				<integer>1310720</integer>
			</dict>
			<key>Required Apps</key>
			<array>
				<string>com.apple.Preview</string>
				<string>net.sourceforge.skim-app.skim</string>
				<string>com.evernote.Evernote</string>
			</array>
			<key>Title</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>Image File</key>
			<string>hlite.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>H</string>
				<key>modifiers</key>
				<real>1179648</real>
			</dict>
			<key>Required Apps</key>
			<array>
				<string>com.literatureandlatte.scrivener2</string>
				<string>com.apple.iWork.Pages</string>
			</array>
			<key>Title</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>Image File</key>
			<string>hlite.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>L</string>
				<key>modifiers</key>
				<real>1179648</real>
			</dict>
			<key>Required Apps</key>
			<array>
				<string>com.devon-technologies.thinkpro2</string>
				<string>com.Alternote</string>
			</array>
			<key>Title</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>Image File</key>
			<string>hlite.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>1</string>
				<key>modifiers</key>
				<real>1703936</real>
			</dict>
			<key>Required Apps</key>
			<array>
				<string>com.smileonmymac.PDFpenPro</string>
				<string>com.smileonmymac.PDFpen</string>
			</array>
			<key>Title</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>AppleScript File</key>
			<string>word_highlight.scpt</string>
			<key>Image File</key>
			<string>hlite.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>Highlight</string>
		<key>Required Apps</key>
			<array>
				<string>com.microsoft.Word</string>
			</array>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Highlight the selected text. Works in Pages, Preview, Evernote, Alternote, Scrivener, DevonThink, Skim, PDFpen and PDF Expert, Microsoft Word.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.highlight</string>
	<key>Extension Name</key>
	<string>Highlight</string>
</dict>
</plist>
