<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	JT3L0pRXKaTZbSsEGyMxv3ftfsW2wTkM4HAnWOuVQnmZ7SLmKWBeBqQPThc5lFQEN67F
	91D9rauQVKuKv9VVCN9tzcLI2XdwBgnlFrgdFAaXlWiGJhy8xycLGVCBaDOltrQkiFug
	cMzJGrQXu8Gz7azHqfCnfPEdblUiY6CaVHs=
	</data>
</dict>
</plist>
