<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Image File</key>
			<string>itrans.png</string>
			<key>Script Interpreter</key>
			<string>/usr/local/bin/python3</string>
			<key>Shell Script File</key>
			<string>main.py</string>
			<key>Title</key>
			<string>Instant Translate</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate the selected word or short phrase instantly within PopClip. Powered by Microsoft Translator.</string>
	<key>Extension Identifier</key>
	<string>com.popclip.extension.instant-translate</string>
	<key>Extension Name</key>
	<string>Instant Translate</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>destlang</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Destination Language</string>
				<key>zh-CHS</key>
				<string>翻译为</string>
				<key>zh-CHT</key>
				<string>轉換為</string>
			</dict>
			<key>Option Type</key>
			<string>multiple</string>
			<key>Option Values</key>
			<array>
				<string>Arabic</string>
				<string>Bosnian (Latin)</string>
				<string>Bulgarian</string>
				<string>Catalan</string>
				<string>Chinese Simplified</string>
				<string>Chinese Traditional</string>
				<string>Croatian</string>
				<string>Czech</string>
				<string>Danish</string>
				<string>Dutch</string>
				<string>English</string>
				<string>Estonian</string>
				<string>Finnish</string>
				<string>French</string>
				<string>German</string>
				<string>Greek</string>
				<string>Haitian Creole</string>
				<string>Hebrew</string>
				<string>Hindi</string>
				<string>Hmong Daw</string>
				<string>Hungarian</string>
				<string>Indonesian</string>
				<string>Italian</string>
				<string>Japanese</string>
				<string>Klingon</string>
				<string>Korean</string>
				<string>Latvian</string>
				<string>Lithuanian</string>
				<string>Malay</string>
				<string>Maltese</string>
				<string>Norwegian</string>
				<string>Persian</string>
				<string>Polish</string>
				<string>Portuguese</string>
				<string>Querétaro Otomi</string>
				<string>Romanian</string>
				<string>Russian</string>
				<string>Serbian (Cyrillic)</string>
				<string>Serbian (Latin)</string>
				<string>Slovak</string>
				<string>Slovenian</string>
				<string>Spanish</string>
				<string>Swedish</string>
				<string>Thai</string>
				<string>Turkish</string>
				<string>Ukrainian</string>
				<string>Urdu</string>
				<string>Vietnamese</string>
				<string>Welsh</string>
				<string>Yucatec Maya</string>
			</array>
			<key>Option Default Value</key>
			<string>English</string>
		</dict>
	</array>
	
</dict>
</plist>
