<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>appshopper.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>AppShopper</string>
			<key>URL</key>
			<string>http://appshopper.com/search/?search={popclip text}</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Shane Bolton</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Search apps on AppShopper.com.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.nfshost.sabolton.popclip.extension.appshopper</string>
	<key>Extension Image File</key>
	<string>appshopper.png</string>
	<key>Extension Name</key>
	<string>AppShopper</string>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
