<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Shell Script File</key>
			<string>evernote.php</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Image File</key>
			<string>EvernoteElephant.png</string>
			<key>Long Running</key>
			<true/>
			<key>Title</key>
			<string>Evernote</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.evernote.Evernote</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.evernote.com/</string>
			<key>Name</key>
			<string>Evernote</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the text to Evernote.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.evernote</string>
	<key>Extension Name</key>
	<string>Evernote</string>
	<key>Pass HTML</key>
	<true/>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
