<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>musicsearch.applescript</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Image File</key>
			<string>itunes.png</string>
			<key>Long Running</key>
			<false/>
			<key>Title</key>
			<string>Music</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the Music app.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.music</string>
	<key>Extension Name</key>
	<string>Music</string>
	<key>Required OS Version</key>
	<string>10.15</string>
</dict>
</plist>
