<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>2</integer>
	<key>Extension Name</key>
	<string>Leech</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.leech</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>leech.png</string>
			<key>Title</key>
			<string>Leech</string>
			<key>AppleScript File</key>
			<string>DownloadWithLeech.applescript</string>
			<key>Requirements</key>
			<array>
				<string>httpurl</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
